<div style="font-family: 'Avenir', Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-align: center;color: #2c3e50;">
    <h1 style="margin-top: 10px;">Bienvenue sur Écopolis</h1><br/>
    <span>Merci d'avoir créé un compte sur notre site.</span><br/>
    <span>Pour pouvoir vous connecter, veuillez activer votre compte en cliquant sur le bouton ci-dessous :</span><br/>
    <button style="margin-top:10px;background-color:#28a745;border:1px solid #28a745;border-radius:3px;color:#ffffff;display:inline-block;line-height:44px;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">
        <a href="http://10.11.11.43:8080/#/verify-account/ACTIVATION_TOKEN" style="color: white;">Activer mon compte</a>
    </button>
</div>