<div style="font-family: 'Avenir', Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-align: center;color: #2c3e50;">
    <h1 style="margin-top: 10px;">Modification de votre mot de passe Écopolis</h1><br/>
    <span>Vous avez demandé à modifier votre mot de passe</span><br/>
    <span>Pour pouvoir le modifier, cliquer sur le bouton ci-dessous :</span><br/>
    <button style="margin-top:10px;background-color:#28a745;border:1px solid #28a745;border-radius:3px;color:#ffffff;display:inline-block;line-height:44px;text-decoration:none;width:250px;-webkit-text-size-adjust:none;">
        <a href="http://10.11.11.43:8080/#/modify-forgotten-passwd/MODIFICATION_TOKEN" style="color: white;">Modifier votre mot de passe</a>
    </button>
</div>