<template>
  <div>
    <b-container>
      <b-row>
          <b-col>
              <h2>Ajouter un microcontrôleur</h2>
          </b-col>
      </b-row>

      <div v-if="errored">
        <section style="padding-top: 10px">
            <b-alert show variant="danger" class="rounded-perso">
                <h4 class="alert-heading">Erreur ! </h4>
                <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.</p>
                <hr>
                <p class="mb-0">Veuillez réessayer ultérieurement.</p>
            </b-alert>
        </section>
      </div>

      <div v-else style="margin-bottom:1rem">
        <div v-if="errorNetwork">
          <section style="padding-top: 10px">
              <b-alert show variant="danger" class="rounded-perso">
                  <h4 class="alert-heading">Ah ! </h4>
                  <p>Le serveur est inaccessible pour le moment.</p>
                  <hr>
                  <p class="mb-0">Veuillez réessayer ultérieurement.</p>
              </b-alert>
          </section>
        </div>
        <div v-if="loading"><img src="../assets/loading.gif" fluid alt="Chargement des adresses disponibles"/></div>

        <div v-if="errorMainNode">
            <b-alert show variant="danger" class="rounded-perso">
                <h4 class="alert-heading">Insertion impossible !</h4>
                <p>
                  Vous ne pouvez pas ajouter ce microcontrôleur car un noeud principal est déjà défini.
                </p>
                <hr>
                <p class="mb-0">
                  Si vous voulez l'ajouter en tant que noeud principal, veuillez supprimer l'autre noeud auparavant. <br>
                  <b>(ATTENTION : Cela peut créer de gros problèmes si vous supprimez un noeud principal ou que en changiez l'adresse).</b>
                </p>
              </b-alert>
        </div>

        <div v-if="errorNotAvailable">
            <b-alert show variant="danger" class="rounded-perso">
                <h4 class="alert-heading">Insertion impossible !</h4>
                <p>
                  Un microcontrôleur est déjà défini avec cette adresse.
                </p>
              </b-alert>
        </div>

        <form @submit="checkForm" id="form" style="padding-top: 30px;">
            <b-form-group label="Choisissez entre un noeud feuille ou un noeud principal (ATTENTION : un seul noeud principal dans l'application)" label-for="choice-input">
                <b-form-radio-group id="choice-input" v-model="nodeTypeSelected" :options="nodeTypeOptions" class="mb-3" value-field="item" text-field="name" :state="choiceOfNode"></b-form-radio-group>
            </b-form-group>

            <b-form-group label="Sélectionnez une addresse dans la liste" label-for="addr-input">
                <b-form-select class="rounded-input" style="text-indent:50%" id="addr-input" aria-describedby="input-addr" v-model="addrSelected" :state="choiceAddrState" :options="addressesAvailable" value-field="addr" text-field="addr"></b-form-select>
                <b-form-invalid-feedback id="input-addr">
                    Veuillez sélectionner une adresse dans la liste de celles disponibles
                </b-form-invalid-feedback>
            </b-form-group>

            <transition name="fade">
              <div v-if="nodeTypeSelected === 'true'">
                <b-form-group label="Placez un marqueur sur la carte en cliquant dessus afin de définir la position du microcontrôleur" id="group-map-marker">
                <Map :marker="marker" @setMarker="setMarker" v-bind:style="{border: style}" id="map" />
                <span v-if="marker !== null" style="color:#28a745">Position sélectionnée pour le microcontroller (latitude, longitude) : {{marker.coordinates[0]}}, {{marker.coordinates[1]}}</span>

                <b-form-input aria-describedby="marker" :state="choicePosition" hidden></b-form-input>
                <b-form-invalid-feedback id="marker">
                      Veuillez sélectionner la position du microcontrôleur
                  </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group label="Heure(s) de réveil du microcontrôleur" label-for="sleepTime-input" id="group-sleepTime-input">
                    <b-form-input id="sleepTime-input" v-model="sleepTime" :state="sleepTimeState" aria-describedby="input-sleepTime" class="rounded-input" placeholder="00:00:00, 10:00:00, 20:00:00"></b-form-input>
                    <b-form-invalid-feedback id="input-sleepTime">
                      Les heures de réveil sont séparées par des virgules (24 valeurs max. en manuel). <br/> Exemple : 09:00:00, 09:10:59
                    </b-form-invalid-feedback>
                </b-form-group>

                <b-form-group label="Groupe du microcontrôleur" label-for="radio-group-group" v-if="options.length !== 0">
                  <b-form-radio-group id="radio-group-group" v-model="selectGroup" :options="options" name="radio-options"></b-form-radio-group>
                </b-form-group>
              </div>
            </transition>

            <input type="submit" value="Ajouter un microcontrôleur" class="btn btn-success rounded-pill" v-bind:disabled="!disableButton"/>
        </form>
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import Map from './Map'

export default {
  name: 'AddMicrocontroller',

  // Define the datas for the view
  data () {
    return {
      addressesAvailable: [],
      loading: true,
      errored: false,
      addrSelected: null,
      nodeTypeSelected: 'true',
      nodeTypeOptions: [{ item: 'true', name: 'Noeud feuille' }, { item: 'false', name: 'Noeud principal' }],
      marker: null,
      style: 'solid 1px #dc3545',
      sleepTime: null,
      disableButton: false,
      errors: [],
      isOkAddr: false,
      isOkSleepTime: false,
      errorMainNode: false,
      errorNotAvailable: false,
      errorNetwork: false,
      goodRoleToAccess: false,
      selectGroup: '',
      options: [{ text: 'Aucun', value: '' }]
    }
  },

  // Verify the rights of the user to access this route => Created executed before mounted
  created () {
    if (this.$auth.user.role !== 'admin') {
      return this.$router.push('/not-the-rights') // Check the rights
    }

    this.goodRoleToAccess = true
  },

  // HTTP request, at the loading of the page, to get all the microcontrollers and stored them
  mounted () {
    if (!this.goodRoleToAccess) return // Not the admin role => Don't make the HTTP request + Not the rights page will come

    // HTTP request to get all the available addresses
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/getAvailableAddresses',
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => (this.addressesAvailable = response.data))
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour accéder aux adresses disponibles')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
      .finally(() => (this.loading = false))

    // HTTP request to get all the available groups
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/groups/withoutAllInfo',
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        // Store the groups to add to the new microcontroller
        for (const group of response.data) {
          this.options.push({
            text: group.name,
            value: group.name
          })
        }
      })
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour accéder aux adresses disponibles')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
  },

  computed: {
    /**
    * Function to be able to know if a marker has been placed on the map
    * @returns true if a marker has been placed on the map ; false otherwise
    */
    choicePosition () {
      if (!this.marker) return false
      else return true
    },

    /**
    * Function to be able to call sleepTimeState during the transition to reinitialize the sleepTimeState variable
    * @returns the sleepTimeState
    */
    choiceOfNode () {
      return this.sleepTimeState // Call sleep time state computed function to be able to enabled or disable the button to send the datas
    },

    /**
    * Function to check if the entered addr is correct or not
    * @returns true if the sleep times are good ; false otherwise
    */
    choiceAddrState () {
      if (!this.addrSelected) {
        this.updateOkAddr(false)
        return false
      }

      this.updateOkAddr(true)
      return true
    },

    /**
    * Function to check if the sleep times entered are correct
    * @returns true if the sleep times are good ; false otherwise
    */
    sleepTimeState () {
      var sleepTime = this.sleepTime

      // Test if we have selected the main node attribute
      if (this.nodeTypeSelected === 'false') {
        this.updateOkSleepTime(true)
        return true
      }

      // Check if we have a defined sleep time and check all the values after
      if (!sleepTime) {
        this.updateOkSleepTime(false)
        return false
      }

      sleepTime = sleepTime.split(',')

      // 24 values max in manual
      if (sleepTime.length > 24) {
        this.updateOkSleepTime(false)
        return false
      }

      for (const sleepTimeValue of sleepTime) {
        var sleepTimeValueSplit = sleepTimeValue.toString().split(':')

        if (sleepTimeValueSplit.length !== 3) {
          this.updateOkSleepTime(false)
          return false
        }

        for (const [index, values] of sleepTimeValueSplit.entries()) {
          if (isNaN(values) || !Number.isInteger(parseFloat(values)) || values < 0 || values.toString().trim().length !== 2) {
            this.updateOkSleepTime(false)
            return false
          }

          // Here check the hours
          if (index === 0) {
            if (values > 23) {
              this.updateOkSleepTime(false)
              return false
            }

          // Check the minutes
          } else {
            if (values > 59) {
              this.updateOkSleepTime(false)
              return false
            }
          }
        }
      }

      this.updateOkSleepTime(true)
      return true
    }
  },

  methods: {
    /**
    * Function used to set the marker value
    * @param id => ID of the marker (we have only one marker so id will be always 1)
    * @param coordinates => Coordinates of the microcontroller on the map
    */
    setMarker ({ id, coordinates }) {
      this.style = 'solid 1px #28a745' // Change the style of the border of the map to pass it as accepted
      this.marker = { id: id, coordinates: coordinates } // Set the marker value
    },

    /**
    * Function used to update the isOkAddr via the value passed in parameter
    * @param value => Value for the button
    */
    updateOkAddr (value) {
      this.isOkAddr = value
      this.disableButton = (this.isOkAddr && this.isOkSleepTime)
    },

    /**
    * Function used to update the isOkSleepTime via the value passed in parameter
    * @param value => Value for the button
    */
    updateOkSleepTime (value) {
      this.isOkSleepTime = value
      this.disableButton = (this.isOkAddr && this.isOkSleepTime)
    },

    /**
    * Function used to verify if all the datas are good to send to the server
    * @param e => Event when we submit the form
    */
    checkForm: function (e) {
      var sleepTime = this.sleepTime
      this.errors = []
      this.errorMainNode = false
      this.errorNotAvailable = false
      this.errorNetwork = false

      // Test if the address is defined
      if (!this.addrSelected) this.errors.push('L\'adresse du microcontrôleur n\'est pas définie.')

      // Test if we need to check the sleep time values according to the type of the microcontroller
      if (this.nodeTypeSelected === 'true') {
        // Test if it is defined or not
        if (!sleepTime) this.errors.push('Temps de sommeil non défini')
        else {
          // Test all the values to know if they are at the good format hour:minutes
          sleepTime = sleepTime.split(',')

          var isErrorNaN = false

          // 24 values max in manual
          if (sleepTime.length > 24) {
            isErrorNaN = true
            return false
          }

          for (const sleepTimeValue of sleepTime) {
            var sleepTimeValueSplit = sleepTimeValue.toString().split(':')

            // Check the length of the split
            if (sleepTimeValueSplit.length !== 3) {
              isErrorNaN = true
            }

            // Check all the values
            for (const [index, values] of sleepTimeValueSplit.entries()) {
              if (isNaN(values) || !Number.isInteger(parseFloat(values)) || values < 0 || values.toString().trim().length !== 2) {
                isErrorNaN = true
              }

              // Here check the hours
              if (index === 0) {
                if (values > 23) {
                  isErrorNaN = true
                }

              // Check the minutes
              } else {
                if (values > 59) {
                  isErrorNaN = true
                }
              }
            }
          }
        }

        // Test if the marker is defined
        if (this.marker == null) {
          this.errors.push('Veuillez définir une position pour le microcontrôleur') // Detect if the marker is well positionned or not
          alert('Veuillez définir une position pour le microcontrôleur sur la carte.') // Alert the user to do that

        // Test if the coordinates of the marker are well formed
        } else {
          // Test the latitude
          if (Number.isNaN(this.marker.coordinates[0])) {
            this.errors.push('Latitude is not a number')
            alert('Latitude is a number')
          }

          // Test the longitude
          if (Number.isNaN(this.marker.coordinates[1])) {
            this.errors.push('Longitude is not a number')
            alert('Longitude is a number')
          }
        }
      }

      // If we have detected an error => Display the message
      if (isErrorNaN) this.errors.push('Les temps de sommeil sont des heures séparées par des virgules (24 valeurs max. en manuel). \n Exemple : 09:00, 09:10')

      e.preventDefault() // Don't post the form

      // No error during the check of the form => We can POST the datas
      if (this.errors.length === 0) {
        var datasToPost // Declaration of the variable to POST

        // If the microcontroller is an end node => Put the sleep times values entered + addr selected + isEndNode to true
        if (this.nodeTypeSelected === 'true') {
          datasToPost = {
            sleepTime: this.sleepTime.split(','),
            addr: this.addrSelected,
            isEndNode: true,
            markerPosition: this.marker.coordinates,
            group: this.selectGroup
          }
        } else { // If main node => Put no sleep times values + addr selected + isEndNode to false
          datasToPost = {
            sleepTime: [],
            addr: this.addrSelected,
            isEndNode: false
          }
        }

        axios.post(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/',
          datasToPost,
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
          .then(response => {
            alert('Insertion réussie !!\nVous allez être redirigé vers la page des microcontrôleurs.')
            this.$router.push({ name: 'Microcontrollers' })
          })
          .catch(error => {
            if (error.message === 'Network Error') this.errorNetwork = true
            if (error.response) {
              if (error.response.data.message === 'Only one main node') this.errorMainNode = true
              if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
              if (error.response.data.error === 'Address not available') this.errorNotAvailable = true
              if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
              if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour ajouter un microcontrôleur.')
              if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
              if (error.response.data.error === 'End node incorrect') alert('La valeur concernant le noeud feuille est incorrecte.')
              if (error.response.data.error === 'Addr incorrect') alert('L\'adresse est invalide (Pas disponible ou invalide).')
              if (error.response.data.error === 'Sleep times incorrect') alert('Les heures de réveil sont incorrectes.')
              if (error.response.data.error === 'Position incorrect') alert('La position du microcontrôleur est incorrecte.')
              if (error.response.data.error === 'Group undefined') alert('Le groupe n\'est pas défini.')
            }
          })
      }
    }
  },

  components: { Map }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.rounded-perso{
  border-radius: 2rem;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
