<template>
  <b-overlay :show="!initFinished" rounded="sm">
    <div v-if="initFinished">
      <App v-if="user !== null"  @reinitUser="reinitUser" />
      <LoginForm v-else :errorMessage="errorMessage" :errorCodeForCaptcha="errorCodeForCaptcha"
      :routeName="$route.name" :captchaToken="captchaToken"
      @submit="login" @reinitErrorMessage="reinitErrorMessage" @tokenExpired="tokenExpired"
      @setToken="setToken" @setErrorCode="setErrorCode"/>

      <footer>
        <cookie-law theme="dark-lime--rounded" buttoncClass="buttonClass" buttonText="OK" message="En poursuivant votre navigation, sans changer les paramètres de votre navigateur, vous acceptez l'utilisation de cookies pour garantir une bonne expérience sur notre site.">
        </cookie-law>
      </footer>
    </div>
  </b-overlay>
</template>

<script>
import App from '../App'
import LoginForm from './LoginForm'
import CookieLaw from 'vue-cookie-law'

export default {
  name: 'AuthWrapper',

  // Store the user and the error message if we have one
  data () {
    return {
      user: null,
      errorMessage: '',
      initFinished: false,
      captchaToken: null,
      errorCodeForCaptcha: 0
    }
  },

  // Props for authentication
  props: {
    auth: {
      type: Object,
      validator: auth => ['getConnectedUser', 'login', 'logout']
        .every(method => method in auth && typeof auth[method] === 'function')
    }
  },

  // Methods for authentication
  methods: {
    /**
    * We have verified that the user is not a bot => Set the value to the captcha token
    * @param captchaToken => Set the value of the token got from recaptcha
    */
    setToken ({ captchaToken }) {
      this.captchaToken = captchaToken
    },

    /**
    * The token has expired so we need to reset its value
    */
    tokenExpired () {
      this.captchaToken = null
    },

    /**
    * Set errorCodeForCaptcha to the value passed in parameter
    * @param errorCode => Error code to set for the captcha
    */
    setErrorCode ({ errorCode }) {
      this.errorCodeForCaptcha = errorCode
    },

    /**
    * Function used to reinit the user for the children views
    */
    reinitUser () {
      this.user = null
    },

    /**
    * Function used to reinit the error message when we pass from login to createAccount and vice versa
    */
    reinitErrorMessage () {
      this.errorMessage = ''
    },

    /**
    * Function to know if the email and the password are correct via HTTP request
    * Use of captcha token for more security
    * Error Code For Captcha:
    *   - 0 => No error, a user is logged in we can continue
    *   - 1 => An error has occured but we can still use the captcha token because it has not been verified
    *   - 2 => An error has occured and the token has been verified => Need to regenerate one
    * @param email => Email entered by the user
    * @param password => Password entered by the user
    */
    login ({ email, password }) {
      this.errorMessage = '' // Delete the message because we don't know if the authentication is good or not

      // Store the result of the tests on the email
      var firstEmailTest = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)
      var secondEmailTest = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(email)

      // Check if all is good before sending => We have a required but we check anyway
      // Check the format of the mail address + if a password is defined
      if (firstEmailTest && secondEmailTest && password !== '') {
        this.$auth.login(email, password).then(result => {
          // Server unreachable
          if (result === -1) {
            this.errorMessage = 'Le serveur est inaccessible pour le moment.\n Veuillez réessayer plus tard.'

          // The user has not activated his account
          } else if (result === -2) {
            this.errorMessage = 'Votre compte n\'est pas activé. Veuillez l\'activer pour vous connecter.'

          // The user is not authentified with email and password
          } else if (!this.$auth.user) {
            this.errorMessage = 'L\'authentification a échouée. Veuillez réessayer.'

          // We have a user => Store it into the value for the children views
          } else {
            this.user = this.$auth.user
          }
        })
      } else {
        if (firstEmailTest && secondEmailTest && password !== '') this.errorMessage = 'Format de l\'adresse mail incorrect ou mot de passe non renseigné' // Display the error concerning the email or password
      }
    }
  },

  /**
  * Call this hook at the creation when the instance is created to know if a user is already connected
  * And to show an overlay while the init is not finished
  */
  mounted () {
    // Asynchronous request to get the user
    this.$auth.init().then(
      () => {
        this.user = this.$auth.user // Init the user
        this.initFinished = true // The init method is finished
      }
    )
  },

  components: { App, LoginForm, CookieLaw }
}
</script>

<style>
/* Add CSS to class btn-sm used for the datepicker */
.btn-sm {
  border-radius: 2rem !important;
}

/* Add CSS to class .custom-file-label used for upload the CSV file that will contain all the data */
.custom-file-label {
  border-radius: 2rem !important;
}
</style>
