<template>
  <div>
    <b-container>
      <h2 class="h">Tableau de bord</h2>

      <section v-if="microcontrollers.length != 0">
        <b-alert show variant="danger" class="rounded-perso">
            <h4 class="alert-heading">Problème ! </h4>
            <p>Les microcontrôleurs suivants peuvent avoir un potentiel problème :</p>
            <p>{{ microcontrollers }}</p>
        </b-alert>
      </section>

      <section v-if="errored">
        <b-alert show variant="danger" class="rounded-perso">
            <h4 class="alert-heading">Erreur ! </h4>
            <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.</p>
            <hr>
            <p class="mb-0">Veuillez réessayer ultérieurement.</p>
        </b-alert>
      </section>

      <div v-if="!errored">
        <h3 class="h" @click="displayUsers()">
          Gestion des utilisateurs
          <img src="../assets/circled_up.png" width="25" height="25" v-if="displayUsersTable" />
          <img src="../assets/circled_down.png" width="25" height="25" v-if="!displayUsersTable" />
        </h3>

          <transition name="fade">
            <div v-if="displayUsersTable">
              <b-button pill variant="success" @click="openAddUserModal()">Ajouter un utilisateur</b-button>

              <b-modal ref="addUserModal" title="Ajouter un utilisateur">
                <b-alert show variant="danger" class="rounded-perso" v-if="errorMessageAddNewUser !== ''" style="text-align:center">
                  <h4 class="alert-heading">Erreur ! </h4>
                  <p>{{ errorMessageAddNewUser }}</p>
                </b-alert>

                <form v-on:submit.prevent style="text-align:center">
                  <b-form-group label="Entrez l'adresse email de l'utilisateur" label-for="email-new-user">
                    <b-form-input @input="emailToLowerCase" type="email" id="email-new-user" v-model="emailNewUser" required class="rounded-input" :state="emailNewUserState" aria-describedby="input-email-for-reinit-passwd"></b-form-input>
                    <b-form-invalid-feedback id="input-email-new-user">
                      Veuillez renseigner une adresse email valide
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group label="Entrez le mot de passe de l'utilisateur" label-for="password-new-user" id="form-group-mdp">
                    <b-tooltip target="form-group-mdp" triggers="focus" variant="info">
                      <ul style="margin-left:-10%; margin-bottom:0%">
                        <li style="font-size:10px">7 caractères mini. et 30 maxi.</li>
                        <li style="font-size:10px">1 majuscule et miniscule mini.</li>
                        <li style="font-size:10px">1 chiffre mini.</li>
                      </ul>
                    </b-tooltip>

                    <b-form-input type="password" id="password-new-user" v-model="passwordNewUser" required class="rounded-input" :state="passwordStateNewUser" aria-describedby="new-user-password-input"></b-form-input>
                    <password v-model="passwordNewUser" :strength-meter-only="true" @score="updateScoreNewUser"/>

                    <b-form-invalid-feedback id="new-user-password-input">
                      Veuillez renseigner un mot de passe valide conforme à la politique de sécurité
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group label="Confirmez le mot de passe de l'utilisateur" label-for="password2-new-user">
                    <b-form-input type="password" id="password2-new-user" v-model="password2NewUser" required class="rounded-input" :state="password2NewUserState" aria-describedby="password2-new-user-input"></b-form-input>

                    <b-form-invalid-feedback id="password2-new-user-input">
                      Veuillez renseigner le même mot de passe que le premier
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group label="Sélectionnez le rôle de l'utilisateur">
                    <b-form-checkbox v-model="isNewUserAdmin" name="check-button" switch>
                      <span v-if="isNewUserAdmin">Rôle administrateur</span>
                      <span v-else>Rôle client</span>
                    </b-form-checkbox>
                  </b-form-group>

                  <b-form-group label="Comte activé ?">
                    <b-form-checkbox v-model="isAccountActivatedNewUser" name="check-button" switch>
                      <span v-if="isAccountActivatedNewUser">Compte activé</span>
                      <span v-else>Compte desactivé</span>
                    </b-form-checkbox>
                  </b-form-group>
                </form>

                <template #modal-footer="{ cancel }">
                  <b-button pill variant="outline-danger" @click="cancel()">Annuler</b-button>
                  <b-button pill variant="outline-success" @click="addUser()">Ajouter</b-button>
                </template>
              </b-modal>

              <div class="h">
                <form id="reasearchUsers" v-on:submit.prevent>
                  <b-row class="justify-content-md-center">
                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-input placeholder="Rechercher par email" type="search" id="email-input-for-research" v-model="emailForResearch" class="rounded-input"></b-form-input>
                    </b-col>

                    <b-col cols="12" md="3" class="space-for-smartphones">
                      <b-form-select id="role-select-for-research" v-model="roleForResearch" :options="selectChoices" class="rounded-input indent-select-research">
                        <template #first>
                          <b-form-select-option :value="null">Rôle</b-form-select-option>
                        </template>
                      </b-form-select>
                    </b-col>

                    <b-col cols="12" md="2" class="space-for-smartphones">
                      <b-button pill variant="outline-success" @click="researchUsers()">Rechercher</b-button>
                    </b-col>
                  </b-row>
                </form>
              </div>

              <b-table striped :hover="true" :items="items" :fields="fields" :select-mode="selectMode" responsive="sm" ref="selectableTable"
            selectable @row-selected="onRowSelected" :busy="isBusy" class="table">

                <template #cell(selected)="{ rowSelected }">
                  <template v-if="rowSelected">
                    <span aria-hidden="true">&check;</span>
                    <span class="sr-only">Selected</span>
                  </template>

                  <template v-else>
                    <span aria-hidden="true">&nbsp;</span>
                    <span class="sr-only">Not selected</span>
                  </template>
                </template>

                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Chargement...</strong>
                  </div>
                </template>
              </b-table>

              <transition name="fade">
                <b-card id="card" class="h rounded-perso" v-bind:header="'Modifier les informations de ' + selected[0].email" v-if="selected.length !== 0" style="overflow:hidden">
                  <div v-if="selected[0].email !== $auth.user.email">
                    <form style="width:100%;margin-bottom:1rem">

                      <b-alert show variant="danger" v-if="errorMessage" style="text-align:center" class="rounded-perso">
                        <h4 class="alert-heading">Ah !</h4>
                        <p>
                          {{ errorMessage }}
                        </p>
                      </b-alert>

                      <b-alert show variant="success" v-if="successModification" style="text-align:center" class="rounded-perso">
                        <h4 class="alert-heading">Ok !</h4>
                        <p>
                          Les modifications ont bien été prises en compte !
                        </p>
                      </b-alert>

                      <b-form-group label="">
                        <b-form-checkbox-group :options="optionModifications" switches @change="displayInput"></b-form-checkbox-group>
                      </b-form-group>

                      <transition name="fade">
                        <b-form-group v-if="modifyPassword" label="Entrez le nouveau mot de passe de l'utilisateur" label-for="password-input" id="form-group-mdp">
                          <b-tooltip target="form-group-mdp" triggers="focus" variant="info">
                            <ul style="margin-left:-10%; margin-bottom:0%">
                              <li style="font-size:10px">7 caractères mini. et 30 maxi.</li>
                              <li style="font-size:10px">1 majuscule et miniscule mini.</li>
                              <li style="font-size:10px">1 chiffre mini.</li>
                            </ul>
                          </b-tooltip>

                          <b-form-input type="password" id="password-input" v-model="newPassword" required class="rounded-input" :state="newPasswordState" aria-describedby="input-newPassword"></b-form-input>
                          <password v-model="newPassword" :strength-meter-only="true" @score="updateScore"/>

                          <b-form-invalid-feedback id="input-newPassword">
                            Veuillez renseigner un mot de passe valide conforme à la politique de sécurité
                          </b-form-invalid-feedback>
                        </b-form-group>
                      </transition>

                      <transition name="fade">
                        <b-form-group  v-if="modifyPassword" label="Confirmez le nouveau mot de passe de l'utilisateur" label-for="password2-input">
                          <b-form-input type="password" id="password2-input" v-model="newPassword2" required class="rounded-input" :state="newPassword2State" aria-describedby="input-newPassword2"></b-form-input>

                          <b-form-invalid-feedback id="input-newPassword2">
                            Veuillez renseigner le même mot de passe que le premier
                          </b-form-invalid-feedback>
                        </b-form-group>
                      </transition>

                      <transition name="fade">
                        <b-form-group v-if="modifyRole" label="Sélectionnez le rôle de l'utilisateur" label-for="role-select">
                          <b-form-select id="role-select" v-model="newRole" :options="selectChoices" class="rounded-input indent-select"></b-form-select>
                        </b-form-group>
                      </transition>

                      <transition name="fade">
                        <b-form-group v-if="modifyState" label="Sélectionnez l'état du compte de l'utilisateur" label-for="state-account-switch">
                          <b-form-checkbox v-model="newState" name="account-state-switch" switch>
                          <span v-if="newState">Compte activé</span>
                          <span v-else>Compte désactivé</span>
                          </b-form-checkbox>
                        </b-form-group>
                      </transition>

                      <transition name="fade">
                        <b-button v-if="modifyPassword || modifyRole || modifyState" pill variant="warning" @click="updateInformations()">Modifier le compte</b-button>
                      </transition>
                    </form>

                    <div style="margin-top:20px">
                      <b-button @click="deleteAccount()" pill variant="danger">Supprimer le compte</b-button>
                    </div>

                  </div>

                  <div v-else>
                    <b-alert show variant="warning" style="text-align:center" class="rounded-perso">
                      <h4 class="alert-heading">Oups !</h4>
                      <p>
                        Vous pouvez pas vous modifier vous-même
                      </p>
                    </b-alert>

                  </div>

                </b-card>
              </transition>
            </div>
          </transition>
      </div>

      <div v-if="!errored">
        <h3 class="h" @click="displayRequest()">
          Journal de requêtes
          <img src="../assets/circled_up.png" width="25" height="25" v-if="displayRequestTable" />
          <img src="../assets/circled_down.png" width="25" height="25" v-if="!displayRequestTable" />
        </h3>

        <transition name="fade">
          <div v-if="displayRequestTable">
            <div class="h">
                <form id="researchRequest" v-on:submit.prevent>
                  <b-row class="justify-content-md-center">
                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-input placeholder="Rechercher par URL" type="search" id="url-input-for-research" v-model="requestURLForReseach" class="rounded-input"></b-form-input>
                    </b-col>

                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-input placeholder="Rechercher par méthode" type="search" id="request-input-for-research" v-model="requestTypeForReseach" class="rounded-input"></b-form-input>
                    </b-col>

                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-input placeholder="Rechercher par code" type="search" id="code-input-for-research" v-model="requestCodeForReseach" class="rounded-input"></b-form-input>
                    </b-col>

                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-datepicker
                        class="rounded-input"
                        id="datepicker-beginning"
                        placeholder="Début"
                        v-model="firstDate" :max="maxDate"
                        today-button
                        label-today-button="Aujourd'hui"
                        reset-button
                        label-reset-button="Réinitialiser"
                        close-button
                        label-close-button="Fermer"
                        :start-weekday="1"
                      >
                      </b-form-datepicker>
                    </b-col>

                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-form-datepicker
                        class="rounded-input"
                        id="datepicker-ending"
                        placeholder="Fin"
                        v-model="lastDate" :max="maxDate"
                        today-button
                        label-today-button="Aujourd'hui"
                        reset-button
                        label-reset-button="Réinitialiser"
                        close-button
                        label-close-button="Fermer"
                        :start-weekday="1"
                      >
                      </b-form-datepicker>
                    </b-col>

                    <b-col cols="12" md="4" class="space-for-smartphones">
                      <b-button pill variant="outline-success" @click="researchRequests()">Rechercher</b-button>
                    </b-col>
                  </b-row>
                </form>
              </div>

            <div v-if="getRequestsDone">
              <b-table striped :hover="true" :items="requestItems" :fields="requestFields" :select-mode="selectMode" responsive="sm" ref="selectableTable"
              :busy="isBusyRequest" class="table">

                  <template #cell(selected)="{ rowSelected }">
                    <template v-if="rowSelected">
                      <span aria-hidden="true">&check;</span>
                      <span class="sr-only">Selected</span>
                    </template>

                    <template v-else>
                      <span aria-hidden="true">&nbsp;</span>
                      <span class="sr-only">Not selected</span>
                    </template>
                  </template>

                  <template #table-busy>
                    <div class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Chargement...</strong>
                    </div>
                  </template>
                </b-table>
            </div>
          </div>
        </transition>
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import Password from 'vue-password-strength-meter'
import PasswordValidator from 'password-validator'

export default {
  name: 'Dashboard',

  // Datas for the view
  data () {
    return {
      isBusy: true,
      isBusyRequest: true,
      selectMode: 'single',
      fields: ['selected', {key: 'email', label: 'Email', sortable: true}, {key: 'role', label: 'Rôle', sortable: true}, {key: 'isActivated', label: 'Compte activé ?', sortable: true}],
      requestFields: [{key: 'time', label: 'Date', sortable: true}, {key: 'protocol', label: 'Protocole', sortable: true}, {key: 'method', label: 'Méthode', sortable: true}, {key: 'url', label: 'URL', sortable: true}, {key: 'statusCode', label: 'Code', sortable: true}],
      selectChoices: [{ value: 'admin', text: 'Admin' }, { value: 'client', text: 'Client' }],
      users: [],
      requests: [],
      items: [],
      requestItems: [],
      selected: [],
      optionModifications: [{ text: 'Modifier le mot de passe', value: 'modifyPassword' }, { text: 'Modifier le role', value: 'modifyRole' }, { text: 'Modifier l\'état du compte', value: 'modifyState' }],
      modifyPassword: false,
      modifyRole: false,
      modifyState: false,
      newPassword: '',
      stateNewPassword: false,
      newPassword2: '',
      newRole: null,
      newState: null,
      emailForResearch: '',
      roleForResearch: null,
      requestTypeForReseach: '',
      requestURLForReseach: '',
      requestCodeForReseach: '',
      firstDate: '',
      lastDate: '',
      maxDate: new Date(),
      displayUsersTable: false,
      displayRequestTable: false,
      getRequestsDone: false,
      goodRoleToAccess: false,
      errored: false,
      errorMessage: '',
      successModification: false,
      emailNewUser: '',
      emailStateNewUser: false,
      passwordNewUser: '',
      passwordStateNewUser: false,
      password2NewUser: '',
      isNewUserAdmin: false,
      isAccountActivatedNewUser: false,
      errorMessageAddNewUser: '',
      microcontrollers: ''
    }
  },

  // Verify if the user has the good role to access to the route or not
  created () {
    if (this.$auth.user.role !== 'admin') {
      return this.$router.push('/not-the-rights') // Check the rights
    }

    this.goodRoleToAccess = true
  },

  // Function used to get all the users
  mounted () {
    if (!this.goodRoleToAccess) return // Quit the function to not make an HTTP request because we have not the rights to do this

    // HTTP request to be able to get all the users
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/user/getAllUsers',
        {
          headers: {
            Authorization: this.$auth.user.session_ID,
            CSRFToken: this.$auth.user.csrfToken
          }
        }
      )
      .then(response => {
        this.users = response.data // Get the response
        for (const user of this.users) this.items.push({ email: user.email, role: user.role, isActivated: ((user.isActivated) ? 'Oui' : 'Non') }) // Push the values formated on items array
        this.isBusy = false // Disable overlay
      })
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour faire ceci')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
      .finally(() => (this.loading = false))

    // HTTP request to be able to get all the microcontrollers that have not sent their records in the last day
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/datas/InLastDay',
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        this.microcontrollers = response.data.microcontrollers
      })
      .catch(error => {
        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour faire ceci')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
  },

  computed: {
    /**
    * Function to verify if the password entered is good with the validator
    * @returns true if the password ensure the security policy ; false otherwise
    */
    newPasswordState () {
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      return this.stateNewPassword && validator.validate(this.newPassword)
    },

    /**
    * Function used to compare the two passwords together
    * @returns true if the two passwords are the same ; false otherwise
    */
    newPassword2State () {
      return (this.newPassword === this.newPassword2) && (this.newPassword !== '')
    },

    /**
    * Function to verify if the password entered is good with the validator for the new user
    * @returns true if the password ensure the security policy ; false otherwise
    */
    passwordNewUserState () {
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      return this.passwordStateNewUser && validator.validate(this.passwordNewUser)
    },

    /**
    * Function used to compare the two passwords together for the new user
    * @returns true if the two passwords are the same ; false otherwise
    */
    password2NewUserState () {
      return (this.passwordNewUser === this.password2NewUser) && (this.passwordNewUser !== '')
    },

    /**
    * Function used to be able to verify if the entered email address is correct or not
    * @returns true if the email is correct ; false otherwise
    */
    emailNewUserState () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.emailNewUser) &&
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.emailNewUser)
      ) return true
      else return false
    }
  },

  methods: {
    /**
    * Function to update the selected row
    * @param item => Item selected in the table
    */
    onRowSelected (item) {
      this.errorMessage = '' // Reset the errorMessage
      this.successModification = false // Reset the success message

      // If length is more than 0 => We have selected someone
      if (item.length !== 0) {
        this.selected = item // Set the selected object
        this.newRole = item[0].role // Set the new role
        this.newState = (item[0].isActivated === 'Oui') // Set the new state

      // If length = 0 => We have reorder the table for example
      } else {
        this.selected = [] // Set to empty board
        this.newRole = null // Set the user role to null
        this.modifyPassword = false // Reset the modification of the password
        this.modifyRole = false // Reset the modification of the role
        this.modifyState = false // Reset the modification of the state
      }

      this.newPassword = '' // Reset the password
      this.newPassword2 = '' // Reset the password verification
    },

    /**
    * Function used to be able to research users in the table of users
    * @returns nothing when we need to quit the function
    */
    researchUsers () {
      var usersForResearch = [] // Set the new table of users
      this.items = [] // Reset the table displayed

      // Reset the table if the user has made no selection
      if (this.emailForResearch === '' && this.roleForResearch === null) {
        for (const user of this.users) this.items.push({ email: user.email, role: user.role, isActivated: ((user.isActivated) ? 'Oui' : 'Non') }) // Push the values formated on items array
        return // Quit the function
      }

      // Research the users according to the selection
      for (const user of this.users) {
        // If the user has selected a role to research
        if (this.roleForResearch !== null && this.emailForResearch === '') {
          if (user.role === this.roleForResearch) usersForResearch.push(user) // Push the user in the tab if the role is good
        }

        // If the user has entered a part of the email
        if (this.emailForResearch !== '' && this.roleForResearch === null) {
          if (user.email.includes(this.emailForResearch)) usersForResearch.push(user) // Push the user in the tab if the email contains the substring
        }

        // If the user has entered a part of the email and has selected a role
        if (this.emailForResearch !== '' && this.roleForResearch !== null) {
          if (user.email.includes(this.emailForResearch) && user.role === this.roleForResearch) usersForResearch.push(user) // Push the user if all the informations match
        }
      }

      // Set the displayed table
      for (const user of usersForResearch) this.items.push({ email: user.email, role: user.role, isActivated: ((user.isActivated) ? 'Oui' : 'Non') }) // Push the values formated on items array
    },

    /**
    * Function that makes an HTTP request to get the informations to display in the tables of requests
    * These informations are in agreement with the datas given by the user
    */
    researchRequests () {
      if (this.requestURLForReseach === undefined || this.requestURLForReseach === '') return alert('Veuillez renseigner une URL.')
      if (this.requestTypeForReseach === undefined || this.requestTypeForReseach === '') return alert('Veuillez renseigner une méthode (GET, POST, PUT ou DELETE).')
      if (this.requestCodeForReseach === undefined || this.requestCodeForReseach === '' || isNaN(this.requestCodeForReseach) || this.requestCodeForReseach < 0) return alert('Veuillez renseigner un code HTTP valide (nombre entier supérieur à 0).')
      if (this.firstDate === undefined || this.firstDate === '') return alert('Veuillez renseigner la date de début.')
      if (this.lastDate === undefined || this.lastDate === '') return alert('Veuillez renseigner la date de fin.')

      // Get the debug logs
      axios
        .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/logs/getLogs',
          {
            params: {
              method: this.requestTypeForReseach,
              code: this.requestCodeForReseach,
              url: this.requestURLForReseach,
              firstDate: this.firstDate,
              lastDate: this.lastDate
            },
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken

            }
          }
        )
        .then(response => {
          this.getRequestsDone = true // Display the table
          this.requests = response.data // Get the response
          this.isBusyRequest = false // Disable overlay
          this.requestItems = this.requests // Put the datas in the table to display
        })
        .catch(error => {
          this.errored = true

          // Alert the user concerning the error if we have a session ID problem
          if (error.response) {
            // Possible errors from the middlewares of the server
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour faire ceci.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')

            // Possible errors from the function that returns the logs
            if (error.response.data.message === 'Method undefined') alert('Veuillez renseigner une méthode valide (GET, POST, PUT ou DELETE).')
            if (error.response.data.message === 'Code incorrect') alert('Veuillez renseigner un code HTTP valide (nombre entier supérieur à 0).')
            if (error.response.data.message === 'URL undefined') alert('Veuillez renseigner une URL valide.')
            if (error.response.data.message === 'First date incorrect') alert('Date de début incorrecte.')
            if (error.response.data.message === 'Last date incorrect') alert('Date de fin incorrecte.')
          }
        })
        .finally(() => (this.loading = false))
    },

    /**
    * Function used to display the inputs we want to use to modify the user
    * @param checked => The elements to modify that are checked
    */
    displayInput (checked) {
      this.errorMessage = '' // Reset the errorMessage
      this.successModification = false // Reset the success message

      // Display input for password modification
      if (checked.find(modification => modification === 'modifyPassword')) this.modifyPassword = true // We want to modify the password => Set to true
      else this.modifyPassword = false // No modifications wanted for the password => Set to false

      // Display input for role modification
      if (checked.find(modification => modification === 'modifyRole')) this.modifyRole = true // We want to modify the role => Set to true
      else this.modifyRole = false // No modifications wanted for the role => Set to false

      // Display input for account state modification
      if (checked.find(modification => modification === 'modifyState')) this.modifyState = true // We want to modify the state of the account => Set to true
      else this.modifyState = false // No modifications wanted for the state of the account => Set to false
    },

    /**
    * Function to display the table of users + delete the selection in the table
    */
    displayUsers () {
      this.displayUsersTable = !this.displayUsersTable
      this.onRowSelected([]) // Reset the values
    },

    /**
    * Function to display the table of users + delete the selection in the table
    */
    displayRequest () {
      this.displayRequestTable = !this.displayRequestTable
    },

    /**
    * Function to update the score of the password
    * @returns true if the score is realiable ; false otherwise
    */
    updateScore (score) {
      if (score >= 3) this.stateNewPassword = true // If my score is pretty good => Password OK
      else this.stateNewPassword = false // Else password incorrect
    },

    /**
    * Function to update the score of the password for the new user
    * @returns true if the score is realiable ; false otherwise
    */
    updateScoreNewUser (score) {
      if (score >= 3) this.passwordStateNewUser = true // If my score is pretty good => Password OK
      else this.passwordStateNewUser = false // Else password incorrect
    },

    /**
    * Function used to update the informations of the account of the user
    * @returns false if we have an error
    */
    updateInformations () {
      this.errorMessage = '' // Reset the error message
      this.successModification = false // Reset the message of success

      // If we want to modify the password => Make some tests on it
      if (this.modifyPassword) {
        // Test if the two passwords are the same
        if (this.newPassword !== this.newPassword2) {
          this.errorMessage = 'Les deux mot de passe sont différents !!!'
          return false
        }

        // Check the security of the password via the state which is connected to validator and score of the password
        if (!this.stateNewPassword) {
          this.errorMessage = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
          return false
        }

        // Creation of the validator
        const validator = new PasswordValidator() // Create a new instance of password validator
        validator
          .is().min(7) // Minimum length 7
          .is().max(30) // Maximum length 30
          .has().uppercase() // Must have uppercase letters
          .has().lowercase() // Must have lowercase letters
          .has().digits(1) // Must have at least 1 digits
          .has().not().spaces() // Should not have spaces

        // Validate the password
        if (!validator.validate(this.newPassword)) {
          this.errorMessage = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
          return false
        }
      }

      var password = this.modifyPassword ? this.newPassword : '' // Get the good password according to modifyPassword
      var role = this.modifyRole ? this.newRole : '' // Get the good role according to modifyRole
      var state = this.modifyState ? this.newState : '' // Get the good state according to modifyRole

      // Update informations about the user
      this.$auth.updateInfosUserByAdmin(this.selected[0].email, password, role, state, this.modifyPassword, this.modifyRole, this.modifyState)
        .then(response => {
          if (response === 'Network Error') this.errorMessage = 'Le serveur est inaccessible. Veuillez réessayer plus tard !!' // Display the network error
          if (response === 'Not connected') this.errorMessage = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the not connected error => Session ID invalid
          if (response === 'Not the rights') this.errorMessage = 'Vous n\'avez pas les droits pour effectuer cette action.' // Display the not the rights error => Not admin
          if (response === 'Invalid token') this.errorMessage = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the invalid token error => CSRF token invalid
          if (response === 'No user') this.errorMessage = 'L\'utilisateur n\'existe pas.' // Display the no user error => No user found in DB
          if (response === 'Password modification incorrect') this.errorMessage = 'La valeur de modification du mot de passe est incorrecte.' // Display the incorrect value for password modification error
          if (response === 'Role modification incorrect') this.errorMessage = 'La valeur de modification du role est incorrecte.' // Display the incorrect value for role modification error
          if (response === 'Account state modification incorrect') this.errorMessage = 'La valeur de modification de l\'état du compte est incorrecte.' // Display the incorrect value for account state modification error
          if (response === 'Password incorrect') this.errorMessage = 'Le mot de passe est incorrect.' // Display the not a valid password error
          if (response === 'Role incorrect') this.errorMessage = 'Le role est incorrect.' // Display the not a role error
          if (response === 'Account state incorrect') this.errorMessage = 'L\'état du compte est incorrect.' // Display the not an account state error
          if (response === 'Not an email') this.errorMessage = 'L\'adresse email est incorrecte.' // Display the not an email error

          if (response === 1) {
            this.successModification = true // Display the success modification

            // Modify the informations in the table
            for (const [index, user] of this.items.entries()) { // Items is the representation of the users in a different format for the table
              if (user.email === this.selected[0].email) {
                if (this.modifyRole) this.items[index].role = role // Set the new role to the user if we modify the role
                if (this.modifyState) this.items[index].isActivated = ((this.newState) ? 'Oui' : 'Non') // Set the new account state of the user if we modify the account state
              }
            }
          }
        })
        .catch(() => {
          this.errored = true // An error has occured => Display the global error
        })
    },

    /**
    * Function used to delete a user from the database
    */
    deleteAccount () {
      var email = prompt('Pour supprimer un utilisateur, veuillez entrer son email :') // Prompt box to enter the mail of the user
      if (email === null) return // The user has cancelled his action => Quit the function
      if (email !== this.selected[0].email) return alert('L\'email entré est différent de l\'email de l\'utilisateur. La suppression est donc annulée.') // Wrong email => No suppression
      var resultAlert = confirm('Voulez-vous vraiment supprimer le compte de ' + this.selected[0].email + ' ?') // Confirm box to confirm the choice of the admin to delete a user

      // If the administrator really want to delete the user
      if (resultAlert) {
        // Find the user in the array of users to delete his account
        for (const [index, user] of this.users.entries()) {
          if (user.email === this.selected[0].email) {
            var id = user._id // Get the id of the user

            // Make the HTTP request
            this.$auth.deleteUserByAdmin(id)
              .then(response => {
                if (response === 'Network Error') this.errorMessage = 'Le serveur est inaccessible. Veuillez réessayer plus tard !!' // Display the network error
                if (response === 'Not connected') this.errorMessage = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the not connected error => Session ID invalid
                if (response === 'Not the rights') this.errorMessage = 'Vous n\'avez pas les droits pour effectuer cette action.' // Display the not the rights error => Not admin
                if (response === 'Invalid token') this.errorMessage = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the invalid token error => CSRF token invalid
                if (response === 'ID incorrect') this.errorMessage = 'L\'ID du user que vous avez envoyé est incorrect.' // Display the user id error => User ID incorrect
                if (response === 'No user') this.errorMessage = 'L\'utilisateur n\'existe pas.' // Display the no user error => No user found in DB

                // If all is good after the request => Delete the user from the view
                if (response === 1) {
                  this.users.splice(index, 1) // Delete the user from the array of users
                  this.items.splice(index, 1) // Delete the user from the table
                }
              })
              .catch(() => {
                this.errored = true
              })

            break // Quit the for because we have find the user
          }
        }
      }
    },

    /**
    * Function used to open the modal to be able to add a user
    *   => Reinit of the variables and errors
    */
    openAddUserModal () {
      // Reinit the error message to add a new user
      this.errorMessageAddNewUser = ''

      // Reinit all the values shown in the modal
      this.emailNewUser = '' // Reinit the email for the new user
      this.emailStateNewUser = false // Reinit the email state for the new user
      this.passwordNewUser = '' // Reinit the password for the new user
      this.passwordStateNewUser = false // Reinit the password state for the new user
      this.password2NewUser = '' // Reinit the verification  of the password for the new user
      this.isNewUserAdmin = false // Reinit the value to know if the new user is an admin or not
      this.isAccountActivatedNewUser = false // Reinit the value to know if the account of the new user need to be activated now or not

      // Display the modal to be able to add a new user
      this.$refs.addUserModal.show()
    },

    /**
    * Function used to transform the upper case of the email of the new user into lower case one
    * @param event => Value of the input (We will not use it because we just want to detect changes)
    */
    emailToLowerCase (event) {
      this.emailNewUser = this.emailNewUser.toLowerCase()
    },

    /**
    * Function used to be able to add a new user
    * @returns false if we have a problem
    */
    addUser () {
      // Reinit the error message when we want to create a new user
      this.errorMessageAddNewUser = ''

      // Test the email address
      if (
        !(
          /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.emailNewUser) &&
          /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.emailNewUser)
        )
      ) {
        this.errorMessageAddNewUser = 'L\'adresse email entrée est incorrecte !!!'
        return false
      }

      // Test if the two passwords are the same
      if (this.passwordNewUser !== this.password2NewUser) {
        this.errorMessageAddNewUser = 'Les deux mot de passe sont différents !!!'
        return false
      }

      // Check the security of the password via the state which is connected to validator and score of the password
      if (!this.passwordNewUserState) {
        this.errorMessageAddNewUser = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        return false
      }

      // Creation of the validator
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      // Validate the password
      if (!validator.validate(this.passwordNewUser)) {
        this.errorMessageAddNewUser = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        return false
      }

      // Add the user into the database
      this.$auth.createUserByAdmin(this.emailNewUser.toLowerCase(), this.passwordNewUser, this.isNewUserAdmin, this.isAccountActivatedNewUser)
        .then(response => {
          // Display the error if we found one
          if (response === 'Network Error') this.errorMessageAddNewUser = 'Le serveur est inaccessible. Veuillez réessayer plus tard !!' // Display the network error
          if (response === 'Not connected') this.errorMessageAddNewUser = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the not connected error => Session ID invalid
          if (response === 'Not the rights') this.errorMessageAddNewUser = 'Vous n\'avez pas les droits pour effectuer cette action.' // Display the not the rights error => Not admin
          if (response === 'Invalid token') this.errorMessageAddNewUser = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.' // Display the invalid token error => CSRF token invalid
          if (response === 'Email incorrect') this.errorMessageAddNewUser = 'L\'adresse email entrée est incorrecte.' // Display the invalid email address error
          if (response === 'Password incorrect') this.errorMessageAddNewUser = 'Le password entré est incorrect.' // Display the invalid password error
          if (response === 'Role incorrect') this.errorMessageAddNewUser = 'Le rôle sélectionné est incorrect.' // Display the invalid role error
          if (response === 'isAccountActivated incorrect') this.errorMessageAddNewUser = 'Le status d\'activation du compte sélectionné est incorrect.' // Display the invalid activation account status error
          if (response === 'A user already exists') this.errorMessageAddNewUser = 'Un utilisateur existe déjà avec cette adresse email. Veuillez en utiliser une autre.' // Disply the user already exists error

          // If the response is good
          if (response._id !== undefined && response.email !== undefined && response.isActivated !== undefined && response.role !== undefined) {
            alert('L\'utilisateur a bien été ajouté') // Alert the admin that the new user has been created
            this.users.push(response) // Add the user to the actual array of users
            this.items.push({ email: response.email, role: response.role, isActivated: ((response.isActivated) ? 'Oui' : 'Non') }) // Add the user into the array to display
            this.$refs.addUserModal.hide() // Close the modal
          }
        })
    }
  },

  components: { Password }
}
</script>

<style scoped>
.h {
  margin-bottom: 20px;
}
.table {
  margin-bottom: 20px;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
.rounded-perso {
  border-radius: 2rem;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.75s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.card-header{
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (max-width: 510px) {
  .indent-select {
    text-indent: 44%;
  }
  .space-for-smartphones {
    margin-top: 10px;
  }
  .indent-select-research {
    text-indent: 47%;
  }
}
@media only screen and (min-width: 511px) and (max-width: 768px) {
  .indent-select {
    text-indent: 50%;
  }
  .indent-select-research {
    text-indent: 48%;
  }
  .space-for-smartphones {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .indent-select {
    text-indent: 50%;
  }
  .indent-select-research {
    text-indent: 38%;
  }
  .space-for-smartphones {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 901px) {
  .indent-select {
    text-indent: 50%;
  }
  .indent-select-research {
    text-indent: 43%;
  }
  .space-for-smartphones {
    margin-top: 20px;
  }
}
</style>
