<template>
  <div>
    <h1 style="margin-bottom:2rem;margin-left:20px;margin-right:20px">Bienvenue sur Écopolis</h1>

    <b-card no-body class="card-home">
      <b-tabs card justified content-class="mt-3">

        <b-tab title="Les actualités du projet Écopolis">
          <b-alert show variant="danger" class="rounded-perso" v-if="errorGetPosts">
            <h4 class="alert-heading">Erreur</h4>
            <p>
              {{ errorGetPostsMessage }}
            </p>
            <hr>
            <p class="mb-0">
              Veuillez réessayer plus tard.
            </p>
          </b-alert>

          <b-alert show variant="warning" class="rounded-perso" v-if="posts.length === 0 && !errorGetPosts">
            <h4 class="alert-heading">Ah !</h4>
            <p>
              Veuillez attendre que l'administrateur poste une actualité pour que ce message disparaisse.
            </p>
          </b-alert>

          <div class="bloc" v-if="!errorGetPosts && posts.length !== 0">
            <b-card class="rounded-perso-for-modal" v-for='post in posts' :key=post._id style="overflow:hidden;margin-bottom:20px">
              <template #header>
                <h4 class="mb-0 card-header-custom">{{ post.title }}</h4>
              </template>

              <p>
                Créé le {{ formateDate(post.dateAdded) }} par {{ post.addedBy }} <br/>
                <span v-if="post.dateAdded !== post.dateModification" class="text-muted" style="font-size: 14px">Modifié le {{ formateDate(post.dateModification) }}</span>
              </p>

              <p v-html="post.text" style="text-align:initial"></p>
            </b-card>
          </div>
        </b-tab>

        <b-tab title="Dernières données enregistrées">
          <b-alert show variant="danger" class="rounded-perso" v-if="errorGetMicrocontrollers">
            <h4 class="alert-heading">Erreur</h4>
            <p>
              {{ errorGetMicrocontrollersMessage }}
            </p>
            <hr>
            <p class="mb-0">
              Veuillez réessayer plus tard.
            </p>
          </b-alert>

          <b-alert show variant="warning" class="rounded-perso" v-if="microcontrollers.length === 0 && !errorGetMicrocontrollers">
            <h4 class="alert-heading">Ah !</h4>
            <p>
              Veuillez attendre que l'administrateur ajoute un microcontrôleur pour que ce message disparaisse.
            </p>
          </b-alert>

          <div v-if="!errorGetMicrocontrollers">
            <div class="bloc" v-if="!errorGetMicrocontrollers && microcontrollers.length !== 0">

              <b-button pill variant="outline-secondary" v-b-modal.modal-lg style="margin-bottom: 10px">Voir la position des microcontrôleurs</b-button>
              <b-modal @shown="showPositionModal" id="modal-lg" size="lg" title="Positions des microcontrôleurs" hide-footer>
                <div class="map">
                  <l-map :center="center" :zoom="zoom" ref="map" @update:zoom="zoomUpdated" @update:center="centerUpdated">
                        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

                        <l-marker v-for="marker in markers" :key="marker.id" :lat-lng="marker.coordinates">
                          <l-tooltip :content="toUpperCase(marker.addr)"/>
                        </l-marker>
                  </l-map>
                </div>
              </b-modal>

              <ul v-for='microcontroller in microcontrollers' :key=microcontroller._id style="padding-top: 10px;padding-left:0" class="rounded-perso-for-modal">
                <li class="list-group-item">
                  <strong>Microcontrôleur {{ toUpperCase(microcontroller.addr) }}</strong> <br/>
                  <span>Heures de réveil :  <span  v-html="formateSleepTimes(microcontroller.sleepTime)"></span> <br/></span> <br/>

                  <b-button pill variant="outline-primary" @click="showLastDatasModal(microcontroller.addr)">Voir les dernières activités</b-button>
                </li>
              </ul>

              <b-modal ref="showLastDatas" size="lg" hide-footer :title="'Dernières données collectées par ' + addrMicrocontrollerSelected">
                <div class="d-block text-center">
                  <fusioncharts :type="chart.type" :width="chart.width"
                    :height="chart.height" :dataFormat="chart.dataFormat" :dataSource="chart.dataSource"></fusioncharts>
                </div>
              </b-modal>
            </div>
          </div>
        </b-tab>

      </b-tabs>
    </b-card>

    <hr class="featurette-divider">

    <footer class="container">
      <p>© 2021 Écopolis</p>
    </footer>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import getAPIKey from '../config/getAPIKey'
import VueFusionCharts from 'vue-fusioncharts' // https://www.fusioncharts.com/charts/line-area-charts/line-chart-with-multiple-series?framework=vue
import FusionCharts from 'fusioncharts' // https://www.fusioncharts.com/dev/chart-guide/standard-charts/line-area-and-column-charts
import Column2D from 'fusioncharts/fusioncharts.charts'
import FusionTheme from 'fusioncharts/themes/fusioncharts.theme.fusion'
import { LMap, LTileLayer, LMarker, LIcon, LTooltip } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

// ////////////////////////////! DO NOT DELETE THESE LINES //////////////////////////////
// eslint-disable-next-line
delete L.Icon.Default.prototype._getIconUrl
// eslint-disable-next-line
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})
// ////////////////////////////! END ////////////////////////////////////////////////////

Vue.use(VueFusionCharts, FusionCharts, Column2D, FusionTheme) // Import Vue and all for displaying the graph

export default {
  name: 'Home',

  data () {
    return {
      posts: [],
      errorGetPosts: false,
      errorGetPostsMessage: '',
      microcontrollers: [],
      datas: [],
      markers: [],
      errorGetMicrocontrollers: false,
      errorGetMicrocontrollersMessage: '',
      addrMicrocontrollerSelected: '',
      chart: {
        type: 'msline',
        width: '95%',
        height: '600',
        dataFormat: 'json',
        dataSource: {
          chart: {
            caption: '',
            yaxisname: 'PH ; Humidité % ; Température °C ; Conductivité us/cm ; Azote - Phosphore - Potassium mg/kg',
            showhovereffect: '1',
            numbersuffix: '',
            drawcrossline: '1',
            plottooltext: '$seriesName : <b>$dataValue</b>',
            theme: 'fusion'
          },
          categories: [{
            category: []
          }],
          dataset: []
        }
      },
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      center: [ 47.6333, 6.8667 ],
      zoom: 12
    }
  },

  /**
   * Function executed when we launch the component to be able to get all the posts and the end nodes microcontrollers
   */
  mounted () {
    // HTTP request to get all the posts
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts/fromMain',
        {
          headers: {
            apikey: getAPIKey().getKey()
          }
        }
      )
      .then(response => {
        this.posts = response.data // Get the posts and store them
      })
      .catch(error => {
        this.errorGetPosts = true // Display the error message

        if (error.message === 'Network Error') this.errorGetPostsMessage = 'Une erreur est survenue.' // Display the network error

        // Alert the user if the API key is not correct
        if (error.response) {
          if (error.response.data.message === 'APIKey incorrect') this.errorGetPostsMessage = 'L\'API key est incorrecte.'
        }
      })

    // HTTP request to get all the end nodes microcontrollers
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/lessInfos/forMain',
        {
          headers: {
            apikey: getAPIKey().getKey()
          }
        }
      )
      .then(response => {
        this.microcontrollers = response.data // Get the end nodes microcontrollers
        this.setMarkers() // Set the markers for the map
      })
      .catch(error => {
        this.errorGetMicrocontrollers = true // Display the error message

        if (error.message === 'Network Error') this.errorGetMicrocontrollersMessage = 'Une erreur est survenue.' // Display the network error

        // Alert the user if the API key is not correct
        if (error.response) {
          if (error.response.data.message === 'APIKey incorrect') this.errorGetMicrocontrollersMessage = 'L\'API key est incorrecte.'
        }
      })
  },

  methods: {
    /**
    * Function used to formate the date as we want
    * @param date => Date to format
    * @returns the date formated as we want
    */
    formateDate (date) {
      date = new Date(date) // Create a new date from the given one
      var day = (String(date.getDate()).length === 1) ? '0' + date.getDate() : date.getDate() // Get the date of the given one
      var month = (String(date.getMonth() + 1).length === 1) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1) // Get the month of the given date
      var year = date.getFullYear() // Get the year of the given date
      var hour = date.getHours() // Get the hours of the given date
      var minutes = (String(date.getMinutes()).length === 1) ? '0' + date.getMinutes() : date.getMinutes() // Get the minutes of the given date

      return day + '-' + month + '-' + year + ' à ' + hour + ':' + minutes
    },

    /**
    * Function used to bold the next waking hour between all waking hours of a microcontroller
    * @param sleepTimes => All the sleep times of a microcontroller
    * @returns the formated string as we want (bold the next waking hour and not the other)
    */
    formateSleepTimes (sleepTimes) {
      var today = new Date() // Get today's date

      // Push all the date with the hours of the microcontrollers in an array
      var tabDate = []
      for (const sleepTime of sleepTimes) {
        var valuesSleepTime = sleepTime.split(':') // Split to get hours and minutes
        var date = new Date() // Date of today
        date.setHours(valuesSleepTime[0], valuesSleepTime[1], valuesSleepTime[2], 0) // Set h, m, s and ms with the good values

        // Add one day if the date is passed
        if (date.getTime() < today.getTime()) {
          date.setDate(date.getDate() + 1)
        }

        // Push the date into the array
        tabDate.push(new Date(date))
      }

      // Get the next sending of the microcontroller
      var nextSending = -1 // Index in the array of the next sending
      var lastTimeStamp = Infinity // Last time stamp we get => Set to infinity at the beginning
      for (const [index, val] of tabDate.entries()) {
        var actualDifference = val.getTime() - today.getTime() // Difference between the val into the array and now

        // Next sending => Smaller difference
        if (actualDifference < lastTimeStamp) {
          nextSending = index
          lastTimeStamp = actualDifference
        }
      }

      // Put all the values in an array to display after
      var arrayToReturn = []
      for (const [index, value] of tabDate.entries()) {
        if (index === nextSending) arrayToReturn.push('<strong>' + (value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()) + '</strong>')
        else arrayToReturn.push((value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()))
      }

      // Return the values of the array joined by a comma and a space to be responsive
      return arrayToReturn.join(', ')
    },

    /**
    * Function used to put the parameter of the function in upper case
    * @param val => Value to put in upper case
    * @returns the value put in upper case
    */
    toUpperCase (val) {
      return String(val).toUpperCase()
    },

    /**
    * Show the modal with a graph to display the 50 last datas saved by the microcontroller passed in parameter
    * @param addr => Addr of the microcontroller to display the datas
    */
    showLastDatasModal (addr) {
      // Store the microcontroller's addr selected
      this.addrMicrocontrollerSelected = this.toUpperCase(addr)

      // Reset the values of the chart
      this.chart.dataSource.dataset = [] // Reset the datas themselves
      this.chart.dataSource.categories[0].category = [] // Reset the categories of the datas

      // Set the title of the chart according to the language selected
      this.chart.dataSource.chart.caption = 'Données colllectées par le microcontrôleur ' + this.toUpperCase(addr)

      // HTTP request to get the 50 last datas of a microcontroller
      axios
        .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/datas/lastForMain',
          {
            params: {
              addr: addr
            },
            headers: {
              apikey: getAPIKey().getKey()
            }
          }
        )
        .then(response => {
          this.datas = response.data // Get the datas
          this.putCategory(this.datas) // Put the category for fusioncharts
          this.putValues(this.datas) // Put the values for fusioncharts
          this.$refs.showLastDatas.show() // Show the modal
        })
        .catch(error => {
          // Alert on network error
          if (error.message === 'Network Error') alert('Une erreur est survenue. Veuillez réessayer plus tard.')

          // Alert the user if the API key is not correct
          if (error.response) {
            if (error.response.data.message === 'APIKey incorrect') alert('L\'API key est incorrecte. Veuillez réessayer plus tard.')
            if (error.response.data.message === 'addr incorrect') alert('L\'adresse du microcontrôleur est incorrecte. Veuillez réessayer avec une adresse valide')
          }
        })
    },

    /**
    * Function used to format the values got from the HTTP request
    *   in a good format to display them with fusioncharts
    * It is used to format the datas to dispay them in the pagination list too
    * @param datas => Datas to process
    */
    putValues (datas) {
      var ph = { seriesname: 'PH', data: [] } // PH for fusioncharts
      var humidity = { seriesname: 'Humidité', data: [] } // Humidity for fusioncharts
      var temperatures = { seriesname: 'Température', data: [] } // Temperature for fusioncharts
      var conductivity = { seriesname: 'Conductivité', data: [] } // Conductivity for fusioncharts
      var nitrogen = { seriesname: 'Azote', data: [] } // Nitrogen for fusioncharts
      var phosphorus = { seriesname: 'Phosphore', data: [] } // Phosphorus for fusioncharts
      var potassium = { seriesname: 'Potassium', data: [] } // Potassium for fusioncharts

      // Put each ph, humidity, temperature, conductivity, nitrogen, phosphorus and potassium in the seriesname associated + Push a formated string for pagination list
      for (const val of datas) {
        ph.data.push({ 'value': val.ph })
        humidity.data.push({ 'value': val.humidity })
        temperatures.data.push({ 'value': val.temperature })
        conductivity.data.push({ 'value': val.conductivity })
        nitrogen.data.push({ 'value': val.nitrogen })
        phosphorus.data.push({ 'value': val.phosphorus })
        potassium.data.push({ 'value': val.potassium })
      }

      this.chart.dataSource.dataset.push(ph) // Dataset to display for ph
      this.chart.dataSource.dataset.push(humidity) // Dataset to display for humidity
      this.chart.dataSource.dataset.push(temperatures) // Dataset to display for temperature
      this.chart.dataSource.dataset.push(conductivity) // Dataset to display for conductivity
      this.chart.dataSource.dataset.push(nitrogen) // Dataset to display for nitrogen
      this.chart.dataSource.dataset.push(phosphorus) // Dataset to display for phosphorus
      this.chart.dataSource.dataset.push(potassium) // Dataset to display for potassium
    },

    /**
    * Function used to put the category we can select on the graph
    * @param datas => Datas to process
    */
    putCategory (datas) {
      for (const val of datas) {
        this.chart.dataSource.categories[0].category.push({ 'label': this.formateDate(val.dateAdded) })
      }
    },

    /**
    * Function used to invalidate the size of the map to reload the map size calculation
    */
    showPositionModal () {
      this.$refs.map.mapObject.invalidateSize()
    },

    /**
    * Function used to update the zoom on the map
    * @param zoom => Zoom of the map
    */
    zoomUpdated (zoom) {
      this.zoom = zoom
    },

    /**
    * Function used when we update the map
    * @param center => Center of the map
    */
    centerUpdated (center) {
      this.center = center
    },

    /**
    * Function to set the markers to display on the map
    */
    setMarkers () {
      for (const [index, microcontroller] of this.microcontrollers.entries()) {
        // If we have latitude and longitude => Add the markers to the map
        if (microcontroller.latitude !== undefined && microcontroller.longitude !== undefined) {
          this.markers.push({ id: index, coordinates: [microcontroller.latitude, microcontroller.longitude], addr: microcontroller.addr })
        }
      }
    }
  },

  components: { LMap, LTileLayer, LMarker, LIcon, LTooltip }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2, h3 {
  font-weight: normal;
}
.h2-title {
  margin-top: 10px;
}
@media only screen and (max-width: 510px) {
  .space-for-smartphones {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 510px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 511px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
  }
}
.rounded-perso-for-modal {
  border-radius: 2rem;
}
@media only screen and (max-width: 768px) {
  .bloc {
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .bloc {
    margin-right: 15%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 901px) {
  .bloc {
    margin-right: 25%;
    margin-left: 25%;
  }
}
.card-header-custom {
  font-size: 24px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}
.map {
  width: 100%;
  height: 300px;
}
</style>

<style>
/* Some styles for the card and tabs */
.nav-link.active {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  color: #17a2b8 !important;
}
.nav-link {
  color: cornflowerblue !important;
}
@media only screen and (max-width: 510px) {
  .nav-item {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 511px) {
  .nav-item {
    font-size: 18px !important;
  }
}

.card-home {
  border: none !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}

/* Add some classes manually to make them works on the view because they don't work => Don't know why ... */
.ql-align-right {
  text-align: right !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-indent-1 {
  padding-left: 3em
}
.ql-indent-2 {
  padding-left: 6em
}
.ql-indent-3 {
  padding-left: 9em
}
.ql-indent-4 {
  padding-left: 12em
}
.ql-indent-5 {
  padding-left: 15em
}
.ql-indent-6 {
  padding-left: 18em
}
.ql-indent-7 {
  padding-left: 21em
}
.ql-indent-8 {
  padding-left: 24em
}
.ql-editor ul {
  padding-left: 1.5em
}
ul[data-checked=false]>li::before {
  content: '\2610';
  font-size: 1.35em;
}
ul[data-checked=true]>li::before {
  content: '\2611';
  font-size: 1.35em;
}
ul[data-checked=false]>li::before, ul[data-checked=true]>li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
ul[data-checked=false]>li, ul[data-checked=true]>li {
  list-style-type: none;
}
</style>
