<template>
    <div>
      <div id="sidebar" style="text-align:center">
        <b-button pill v-b-toggle.sidebar-no-header>Menu</b-button>
        <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header backdrop shadow>
          <template #default="{ hide }">
            <div class="p-3">
              <h4 id="sidebar-no-header-title" style="text-align:center">
                <router-link :to="{ path: '/' }">Écopolis</router-link>
              </h4>
              <p>
                Le projet Écopolis a pour objectif général la restauration d'une friche industrielle en milieu urbain.
                Cette application permet de visualiser les données ainsi que d'ajouter, modifier et supprimer des microcontrôleurs.
              </p>

              <b-alert show variant="danger" v-if="errorMessage" style="text-align:center" class="rounded-perso">
                <h4 class="alert-heading">Ah !</h4>
                <p>
                  {{ errorMessage }}
                </p>
              </b-alert>

              <b-alert show variant="danger" v-if="errorMessageAccountCreation" style="text-align:center" class="rounded-perso">
                <h4 class="alert-heading">Ah !</h4>
                <p>
                  {{ errorMessageAccountCreation }}
                </p>
              </b-alert>

              <b-alert show variant="success" v-if="successAccountCreation" style="text-align:center" class="rounded-perso">
                <h4 class="alert-heading">Ok !</h4>
                <p>
                  Votre compte a bien été créé. <br/>
                  Vous avez reçu un mail pour activer votre compte.
                </p>
              </b-alert>

              <nav class="mb-3" style="text-align:center; margin-top:15%">
                <b-nav vertical>

                  <form @submit.prevent="submit()" v-if="loginForm" style="width:100%">
                    <b-form-group label="Entrez votre adresse mail" label-for="email-input">
                        <b-form-input @input="emailToLowerCase" type="email" id="email-input" v-model="email" :state="emailStateLogin" required class="rounded-input"></b-form-input>
                    </b-form-group>

                    <b-form-group label="Entrez votre mot de passe" label-for="password-input">
                        <b-form-input type="password" id="password-input" v-model="password" required class="rounded-input"></b-form-input>
                    </b-form-group>

                    <b-form-group class="mdp-oublie">
                      <a href="#" @click="showForgottenPasswdModal">Mot de passe oublié ?</a>
                      <b-modal ref="forgottenPasswdModal" title="Mot de passe oublié ?">

                        <b-alert show variant="danger" class="rounded-perso" v-if="errorForReinitPasswd" style="text-align:center">
                          <h4 class="alert-heading">Erreur ! </h4>
                          <p>{{ errorMessageForReinitPasswd }}</p>
                        </b-alert>

                        <b-alert show variant="success" class="rounded-perso" v-if="reinitPasswdSuccess" style="text-align:center">
                          <h4 class="alert-heading">OK</h4>
                          <p>Votre demande de réinitialisation de mot de passe a bien été prise en compte.</p>
                          <hr>
                          <p class="mb-0">Veuillez vérifier vos mails et cliquer sur le lien qui vient de vous être envoyé.</p>
                        </b-alert>

                        <form v-on:submit.prevent style="text-align:center">
                          <b-form-group label="Entrez l'adresse email de votre compte" label-for="email-reinit-passwd">
                            <b-form-input @input="reinitEmailToLowerCase" type="email" id="email-reinit-passwd" v-model="emailForReinitPasswd" required class="rounded-input" :state="emailReinitPasswdState" aria-describedby="input-email-for-reinit-passwd"></b-form-input>
                            <b-form-invalid-feedback id="input-email-for-reinit-passwd">
                              Veuillez renseigner une adresse email valide
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </form>

                        <template #modal-footer="{ cancel }">
                          <b-button pill variant="outline-danger" @click="cancel()">Annuler</b-button>
                          <b-button pill variant="outline-primary" @click="checkAccountForMailToReinit()">Réinitialiser</b-button>
                        </template>
                      </b-modal>
                    </b-form-group>

                    <input type="submit" value="Se connecter" class="btn btn-success rounded-pill"/>
                  </form>

                  <form @submit.prevent="createAccount()" v-else style="width:100%">
                    <b-form-group label="Entrez votre adresse mail" label-for="email-input">
                        <b-form-input @input="emailToLowerCase" type="email" id="email-input" v-model="email" :state="emailState" required class="rounded-input" aria-describedby="input-email"></b-form-input>
                        <b-form-invalid-feedback id="input-email">
                          Veuillez renseigner une adresse email valide
                        </b-form-invalid-feedback>
                    </b-form-group>

                    <b-form-group label="Entrez votre mot de passe" label-for="password-input" id="form-group-mdp">
                        <b-tooltip target="form-group-mdp" triggers="focus" variant="info">
                          <ul style="margin-left:-10%; margin-bottom:0%">
                            <li style="font-size:10px">7 caractères mini. et 30 maxi.</li>
                            <li style="font-size:10px">1 majuscule et miniscule mini.</li>
                            <li style="font-size:10px">1 chiffre mini.</li>
                          </ul>
                        </b-tooltip>
                        <b-form-input type="password" id="password-input" v-model="password" :state="password1State" required class="rounded-input" aria-describedby="input-passwd1"></b-form-input>
                        <password v-model="password" :strength-meter-only="true" @score="updateScore"/>
                        <b-form-invalid-feedback id="input-passwd1">
                          Veuillez renseigner un mot de passe valide conforme à la politique de sécurité
                        </b-form-invalid-feedback>
                    </b-form-group>

                    <b-form-group label="Confirmez votre mot de passe" label-for="password2-input">
                        <b-form-input type="password" id="password2-input" v-model="password2" :state="password2State" required class="rounded-input" aria-describedby="input-passwd2"></b-form-input>
                        <b-form-invalid-feedback id="input-passwd2">
                          Veuillez renseigner le même mot de passe que le premier
                        </b-form-invalid-feedback>
                    </b-form-group>

                    <div>
                      <vue-recaptcha @verify="onVerify" @expired="onExpired" style="transform:translateX(-7px) scale(0.9)" ref="invisibleRecaptcha" :sitekey="siteKey" :loadRecaptchaScript="true" class="form-group"></vue-recaptcha>
                    </div>

                    <input type="submit" value="Créer un compte" class="btn btn-success rounded-pill"/>
                  </form>

                  <b-button pill v-if="loginForm" v-on:click="changeForm" style="margin-top: 5%;font-size:smaller;margin-bottom:10%" variant="outline-secondary">{{ textLoginForm }}</b-button>
                  <b-button pill v-else v-on:click="changeForm" style="margin-top: 5%;font-size:smaller;margin-bottom:10%" variant="outline-secondary">{{ textLoginForm }}</b-button>
                </b-nav>
              </nav>

              <div style="position:fixed; bottom:10px;left:5%;width:90%">
                <b-button pill variant="outline-info" style="font-size:smaller" block @click="hide">Fermer le menu</b-button>
              </div>
            </div>
          </template>
        </b-sidebar>
      </div>

      <div id="components">
        <Home v-if="routeName !== 'PageNotFound' && routeName !== 'VerifyAccount' && routeName !== 'ModifyForgottenPasswd'" />
        <PageNotFound v-if="routeName === 'PageNotFound'" />
        <VerifyAccount v-if="routeName === 'VerifyAccount'" />
        <ModifyForgottenPasswd v-if="routeName === 'ModifyForgottenPasswd'" />
      </div>
    </div>
</template>

<script>
import Home from './Home'
import PageNotFound from './PageNotFound'
import VerifyAccount from './VerifyAccount.vue'
import ModifyForgottenPasswd from './ModifyForgottenPasswd.vue'
import Password from 'vue-password-strength-meter'
import PasswordValidator from 'password-validator'
import VueRecaptcha from 'vue-recaptcha'
import sitekey from '../config/siteKey.json'

export default {

  // Datas
  data () {
    return {
      email: '',
      password: '',
      password2: '',
      loginForm: true,
      textLoginForm: 'Pas de compte, cliquez ici pour en créer un',
      errorMessageAccountCreation: '',
      successAccountCreation: false,
      statePassword: false,
      siteKey: '',
      emailForReinitPasswd: '',
      errorMessageForReinitPasswd: '',
      errorForReinitPasswd: false,
      reinitPasswdSuccess: false
    }
  },

  // Props for error message
  props: {
    errorMessage: {
      type: String,
      default: ''
    },
    routeName: {
      type: String,
      default: ''
    },
    errorCodeForCaptcha: {
      type: Number,
      default: 0
    },
    captchaToken: {
      type: String,
      default: ''
    }
  },

  watch: {
    errorCodeForCaptcha: {
      immediate: true,
      deep: true,
      /**
      * Function to reset the Recaptcha when you have submitting the form
      * Function called all time the prop errorCodeForCaptcha changes
      * One token by request => When the token is verified, it cannot be used now
      * So we regenerate a token and we reset the errorCodeForCaptcha
      * @param newValue => New value of the errorCodeForCaptcha
      */
      handler (newValue) {
        if (newValue === 2) {
          this.$refs.invisibleRecaptcha.reset() // Reset the captcha
          this.$emit('setErrorCode', { errorCode: 0 }) // Reset the error code
        }
      }
    }
  },

  /**
  * At the creation of the hook
  *   => Read the siteKey value from a file and put it in a variable to use in the view
  */
  created () {
    this.siteKey = sitekey.siteKey // Read the value of the site key
  },

  computed: {
    /**
    * Function to check if the email entered has a valid form
    * @returns true if the form of the mail is valid ; false otherwise
    */
    emailState () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email) &&
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.email)
      ) return true
      else return false
    },

    /**
    * Function to check if the email entered has a valid form
    * @returns true if the email has the good format ; nothing otherwise (don't display an error)
    */
    emailStateLogin () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email) &&
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.email)
      ) return true
    },

    /**
    * Function to update the state of the password according to updateScore()
    * @returns true if the password is validated and if its score is reliable ; false otherwise
    */
    password1State () {
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      return this.statePassword && validator.validate(this.password)
    },

    /**
    * Function to check if the first password is the same than the second
    * @returns true if the two passwords are the same ; false otherwise
    */
    password2State () {
      if (this.password === this.password2 && this.password2 !== '') return true
      else return false
    },

    /**
    * Function to check if the email entered to reinit the passwd has a valid form
    * @returns true if the email has the good format ; false otherwise
    */
    emailReinitPasswdState () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.emailForReinitPasswd) &&
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.emailForReinitPasswd)
      ) return true
      else return false
    }
  },

  methods: {
    /**
    * Function used to reinit the values + show the modal when we want to reinitialize the forgotten password
    */
    showForgottenPasswdModal () {
      this.emailForReinitPasswd = '' // Reinit the input value
      this.errorForReinitPasswd = false // Disable the alert
      this.errorMessageForReinitPasswd = '' // Reinit the error message
      this.reinitPasswdSuccess = false // Disable the success alert
      this.$refs.forgottenPasswdModal.show() // Display the modal
    },

    /**
    * Function used to transform the upper case of the email into lower case one
    * @param event => Value of the input (We will not use it because we just want to detect changes)
    */
    reinitEmailToLowerCase (event) {
      this.emailForReinitPasswd = this.emailForReinitPasswd.toLowerCase()
    },

    /**
    * Function used to verify if a user exists in the DB with the email entered
    *   and to send him an email to reinitialize his password via the server
    */
    checkAccountForMailToReinit () {
      // Reinit the error message
      this.errorMessageForReinitPasswd = ''
      this.errorForReinitPasswd = false
      this.reinitPasswdSuccess = false

      // Check the format of the email entered by the user
      if (
        !(
          /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.emailForReinitPasswd) &&
          /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.emailForReinitPasswd)
        )
      ) {
        this.errorMessageForReinitPasswd = 'L\'adresse email entrée est incorrecte.' // Set message of the error
        this.errorForReinitPasswd = true // Display the error
        return false // Quit the function
      }

      // HTTP request to verify if we have a user and send an email to reinit his password
      this.$auth.sendEmailForReinitPassword(this.emailForReinitPasswd)
        .then(response => {
          if (response === 1) this.reinitPasswdSuccess = true // The account has been activated

          // Problem during the request
          else {
            // Test if the result is no user error
            if (response === 'No user') {
              this.errorMessageForReinitPasswd = 'Aucun utilisateur n\'a été trouvé.'
              this.errorForReinitPasswd = true
              return
            }

            // Test if the result is not an email error
            if (response === 'Not an email') {
              this.errorMessageForReinitPasswd = 'L\'adresse email entrée est incorrecte.'
              this.errorForReinitPasswd = true
              return
            }

            // Test if the result is account not activated error
            if (response === 'Account not activated') {
              this.errorMessageForReinitPasswd = 'Le compte n\'est pas activé, veuillez l\'activer pour pouvoir continuer.'
              this.errorForReinitPasswd = true
              return
            }

            // Network error
            if (response === 'Network Error') {
              this.errorMessageForReinitPasswd = 'Une erreur est survenue. Veuillez réessayer ultérieurement.'
              this.errorForReinitPasswd = true
            }
          }
        })
        .catch(() => {
          this.errorMessageForReinitPasswd = 'Une erreur est survenue.' // Set message of the error
          this.errorForReinitPasswd = true // Display the error
        })
    },

    /**
    * Function used to transform the upper case of the email into lower case one
    * @param event => Value of the input (We will not use it because we just want to detect changes)
    */
    emailToLowerCase (event) {
      this.email = this.email.toLowerCase()
    },

    /**
    * Function called to login you on the application
    */
    submit () {
      this.successAccountCreation = false // Delete the OK message for the account creation

      this.$emit('submit', {
        email: this.email,
        password: this.password
      })
    },

    /**
    * Function to update the score of the password
    * @param score => Security score of the password
    * @returns true if the score is realiable ; false otherwise
    */
    updateScore (score) {
      if (score >= 3) this.statePassword = true // If my score is pretty good => Password OK
      else this.statePassword = false // Else password incorrect
    },

    /**
    * Function to pass from the login form to the account creation form
    */
    changeForm () {
      this.errorMessageAccountCreation = '' // Reinit the error message we can get during the creation of an account
      this.$emit('reinitErrorMessage') // Emit a signal to the parent to reinit the error message
      this.loginForm = !this.loginForm // Reverse the loginForm value (LoginForm = true => Display the login form ; otherwise display the creation form)

      // Change the associate text
      if (this.loginForm) this.textLoginForm = 'Pas de compte, cliquez ici pour en créer un'
      else this.textLoginForm = 'Un compte, cliquez ici pour vous connecter'
    },

    /**
    * Function to know when you have clicked on "Je ne suis pas un robot" of the Recaptcha
    * And to set the token given by the Recaptcha in a variable before sending it when you click on "Se connecter"
    * @param token => token given by the validated captcha
    */
    onVerify: function (token) {
      this.$emit('setToken', {
        captchaToken: token
      })
    },

    /**
    * Function called automatically when you stay too long without submitting the form
    * The token is expired => Set to null
    */
    onExpired () {
      this.$emit('tokenExpired')
    },

    /**
    * Function used to create a new account in the database
    * @returns false if a problem appears (it can be error detected in input or during the communication)
    */
    createAccount () {
      this.errorMessageAccountCreation = '' // Re-initialize the value of the error message for account creation
      this.successAccountCreation = false // Re-initialiaze the success account creation to not display the alert

      // Test the email address
      if (
        !(
          /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email) &&
          /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.email)
        )
      ) {
        this.errorMessageAccountCreation = 'L\'adresse email entrée est incorrecte.'
        return false
      }

      // Test if the two passwords are the same
      if (this.password !== this.password2) {
        this.errorMessageAccountCreation = 'Les deux mot de passe sont différents !!!'
        return false
      }

      // Check the security of the password via the state which is connected to validator and score of the password
      if (!this.statePassword) {
        this.errorMessageAccountCreation = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        return false
      }

      // Creation of the validator
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      // Validate the password
      if (!validator.validate(this.password)) {
        this.errorMessageAccountCreation = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        return false
      }

      // Check if the token has been generated via the captcha
      if (!this.captchaToken) {
        this.errorMessageAccountCreation = 'Veuillez passer le test du captcha !!!'
        return false
      }

      // Create the account and get the response from the server
      this.$auth.createAccount(this.email, this.password, this.captchaToken)
        .then(response => {
          // If the captcha token is not defined in the request
          if (response === null) {
            this.errorMessageAccountCreation = 'Un problème est survenu avec le captcha !'
            this.$emit('setErrorCode', { errorCode: 2 }) // Set the errorCode to 2 to reset the captcha
            this.onExpired() // Reset the captcha token value
            return false
          }

          if (response.message) {
            // Display the email already used error
            if (response.message === 'Email address already used') {
              this.errorMessageAccountCreation = 'L\'adresse email renseignée est déjà utilisée !'
              this.$emit('setErrorCode', { errorCode: 2 }) // Set the errorCode to 2 to reset the captcha
              this.onExpired() // Reset the captcha token value
              return false
            }

            // Display the password is not correct
            if (response.message === 'Password incorrect') {
              this.errorMessageAccountCreation = 'Le mot de passe entré ne respecte pas la politique de sécurité !'
              this.$emit('setErrorCode', { errorCode: 2 }) // Set the errorCode to 2 to reset the captcha
              this.onExpired() // Reset the captcha token value
              return false
            }

            // Display network error
            if (response.message === 'Network Error') {
              this.errorMessageAccountCreation = 'Le serveur est inaccessible pour le moment.\n Veuillez réessayer plus tard.'
              return false
            }

            this.successAccountCreation = true // Creation of the account is good
            this.$emit('setErrorCode', { errorCode: 2 }) // Set the errorCode to 2 to reset the captcha
            this.onExpired() // Reset the captcha token value
          }
        })
        .catch(() => {
          this.errorMessageAccountCreation = 'Une erreur est survenue. \n Veuillez réessayer.'
        })
    }
  },

  components: { Home, PageNotFound, Password, VerifyAccount, ModifyForgottenPasswd, VueRecaptcha }
}
</script>

<style scoped>
#components {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}

#sidebar {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}
.rounded-perso {
  border-radius: 2rem;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
.mdp-oublie {
  text-align: right;
  font-size: 12px;
  color: cornflowerblue;
}
</style>
