<template>
  <l-map :center="center" :zoom="zoom" class="map" ref="map"
      @update:zoom="zoomUpdated" @update:center="centerUpdated" @click="handleMapClick">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

        <l-marker :key="marker.id" :lat-lng="marker.coordinates" v-if="marker !== null"></l-marker>
  </l-map>
</template>

<script>
import { LMap, LTileLayer, LMarker, LIcon } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

// ////////////////////////////! DO NOT DELETE THESE LINES //////////////////////////////
// eslint-disable-next-line
delete L.Icon.Default.prototype._getIconUrl
// eslint-disable-next-line
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})
// ////////////////////////////! END ////////////////////////////////////////////////////

export default {
  name: 'Map',

  // Data of the component
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      center: [ 47.6333, 6.8667 ],
      zoom: 13
    }
  },

  // Props of the component
  props: {
    marker: {
      type: Object,
      default: null
    }
  },

  methods: {
    /**
    * Function used to update the zoom on the map
    * @param zoom => Zoom of the map
    */
    zoomUpdated (zoom) {
      this.zoom = zoom
    },

    /**
    * Function used when we update the map
    * @param center => Center of the map
    */
    centerUpdated (center) {
      this.center = center
    },

    /**
    * Function used to be able to set the marker on the map with the values got from the click
    * @param event => Contain the informations about the click on the map (latitude and longitude)
    */
    handleMapClick (event) {
      this.$emit('setMarker', { id: 1, coordinates: [event.latlng.lat, event.latlng.lng] })
    }
  },

  components: { LMap, LTileLayer, LMarker, LIcon }
}
</script>

<style scoped>
.map {
  width: 100%;
  height: 300px;
}
</style>
