<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <h2>Microcontrôleurs</h2>
        </b-col>
      </b-row>

      <b-row class="buttons-row">
        <b-col cols="12" sm="4">
          <div v-if="!errored && $auth.user.role==='admin'">
            <b-button pill variant="light" v-b-modal.modal-prevent-closing @click="resetModal">Téléverser des données</b-button>
            <b-modal v-model="showModal" id="modal-prevent-closing" ref="modal" title="Choisissez le fichier à téléverser">
              <form ref="form">
                <b-form-group label="Fichier à téléverser" label-for="file-input">
                  <b-form-file browse-text="Choisir" accept=".csv" v-model="file" :state="fileState" id="file-input" placeholder="Choisissez un fichier ou droppez le ici ..." drop-placeholder="Droppez le fichier ici ..." required></b-form-file>
                </b-form-group>
              </form>

              <template #modal-footer>
                <div class="w-100">
                  <b-button variant="outline-success" class="float-right rounded-pill" @click="handleOk">Envoyer les données</b-button>
                  <b-button variant="outline-danger" class="float-right rounded-pill" @click="resetModal" style="margin-right:5px">Fermer</b-button>
                </div>
              </template>
            </b-modal>
          </div>
        </b-col>

        <b-col cols="12" sm="4" class="space-for-smartphones">
          <b-button pill variant="outline-secondary" v-b-modal.modal-lg v-if="!errored">Positions des microcontrôleurs</b-button>
          <b-modal @shown="shownPositionModal" id="modal-lg" size="lg" title="Position des microcontrôleurs" hide-footer>
            <div class="map">
              <l-map :center="center" :zoom="zoom" ref="map" @update:zoom="zoomUpdated" @update:center="centerUpdated">
                    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

                    <l-marker v-for="marker in markers" :key="marker.id" :lat-lng="marker.coordinates">
                      <l-tooltip :content="upperCase(marker.addr)"/>
                    </l-marker>
              </l-map>
            </div>
          </b-modal>
        </b-col>

        <b-col cols="12" sm="4" class="space-for-smartphones">
          <router-link :to="{ name: 'AddMicrocontroller'}" v-if="$auth.user.role==='admin'">
            <b-button pill variant="success">Ajouter un microcontrôleur</b-button>
          </router-link>
        </b-col>
      </b-row>

      <b-row class="buttons-row">
        <b-col cols="12" sm="6">
          <div v-if="!errored && $auth.user.role==='admin'">
            <router-link :to="{ name: 'Groups'}" v-if="$auth.user.role==='admin'">
              <b-button pill variant="secondary">Voir les groupes</b-button>
            </router-link>
          </div>
        </b-col>

        <b-col cols="12" sm="6" class="space-for-smartphones">
          <b-button pill variant="outline-success" v-if="!errored" @click="exportAllDatasOfAllMicrocontrollers()">Exporter toutes les données</b-button>
        </b-col>
      </b-row>

      <section v-if="errored">
        <b-alert show variant="danger" class="rounded-perso">
            <h4 class="alert-heading">Erreur ! </h4>
            <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.</p>
            <hr>
            <p class="mb-0">Veuillez réessayer ultérieurement.</p>
        </b-alert>
      </section>

      <section v-if="microcontrollers.length === 0 && !errored && !loading">
        <b-alert show variant="warning" class="rounded-perso">
            <h4 class="alert-heading">Petit problème ! </h4>
            <p>Aucun microcontrôleur à afficher.</p>
            <hr>
            <p class="mb-0">Veuillez attendre qu'un administrateur en ajoute un.</p>
        </b-alert>
      </section>

      <div v-if="loading"><img src="../assets/loading.gif" fluid alt="Chargement des microcontrôleurs"/></div>

      <div class="bloc" >
        <ul v-for='microcontroller in microcontrollers' :key=microcontroller._id style="padding-top: 10px;" class="rounded-pill-perso">
            <li class="list-group-item">
                <div class="text-microcontroller">Microcontrôleur {{ upperCase(microcontroller.addr) }} est un noeud <strong><span v-if="microcontroller.isEndNode && !microcontroller.isRelay">feuille</span><span v-if="!microcontroller.isEndNode && !microcontroller.isRelay">principal</span><span v-if="!microcontroller.isEndNode && microcontroller.isRelay">relais</span></strong></div>
                <div class="text-microcontroller" v-if="microcontroller.isEndNode">Heures de réveil :  <span  v-html="formateSleepTimes(microcontroller.sleepTime)"></span></div>
                <div class="text-microcontroller" v-if="microcontroller.isEndNode">Type de reconfiguration : <span v-if="microcontroller.manualReconfiguration">Manuelle</span><span v-else>Automatique (par groupe)</span></div>
                <div class="text-microcontroller" v-if="microcontroller.isEndNode">Changement de configuration : <span v-if="microcontroller.hasConfigChanged">Oui</span><span v-else>Non</span></div>
                <div class="text-microcontroller" v-if="microcontroller.isEndNode || microcontroller.isRelay"><span v-if="microcontroller.groups !== ''">Fait partie du groupe :  {{ microcontroller.groups }}</span><span v-else>Fait partie d'aucun groupe</span></div>
                <div class="text-microcontroller" v-if="microcontroller.isEndNode"><strong><span v-if="microcontroller.lastSending !== '' && microcontroller.lastSending !== undefined">Dernier envoi de données le {{ formateDate(microcontroller.lastSending) }}</span></strong></div>
                <div>Créé le {{ formateDate(microcontroller.creationDate) }} et modifié le {{ formateDate(microcontroller.modificationDate) }} <br/> <br v-if="$auth.user.role === 'admin'"/>  <br v-if="$auth.user.role === 'client' && microcontroller.isEndNode"/></div>
                <router-link :to="{ name: 'ShowDatas', params: { addr: microcontroller.addr }}" v-if="microcontroller.isEndNode">
                  <b-button pill variant="secondary" class="space-for-tablets">Voir les données</b-button>
                </router-link>
                <b-button class="space-for-smartphones space-for-tablets" v-if="$auth.user.role==='admin'" pill variant="primary" v-on:click="downloadCode(microcontroller.addr)">Télécharger le code de {{ upperCase(microcontroller.addr) }}</b-button>
                <b-button class="space-for-smartphones space-for-tablets" v-if="$auth.user.role==='admin' && !microcontroller.isEndNode && !microcontroller.isRelay" pill variant="outline-info" v-on:click="downloadCertificate()">Télécharger le certificat</b-button>
                <b-button class="space-for-smartphones space-for-tablets" v-if="microcontroller.isEndNode" pill variant="outline-success" v-on:click="downloadDatas(microcontroller.addr)">Exporter toutes les données de {{ upperCase(microcontroller.addr) }}</b-button>
                <router-link v-if="$auth.user.role==='admin' && microcontroller.isEndNode" :to="{ name: 'ModifyMicrocontroller', params: { id: microcontroller._id }}">
                    <b-button class="space-for-smartphones space-for-tablets" pill variant="warning">
                        Modifier {{ upperCase(microcontroller.addr) }}
                    </b-button>
                </router-link>
                <b-button class="space-for-smartphones space-for-tablets" v-if="$auth.user.role==='admin' && !microcontroller.isRelay" pill variant="danger" v-on:click="deleteMicrocontroller(microcontroller._id, microcontroller.addr)">Supprimer {{ upperCase(microcontroller.addr) }}</b-button>
            </li>
        </ul>
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import { LMap, LTileLayer, LMarker, LIcon, LTooltip } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

// ////////////////////////////! DO NOT DELETE THESE LINES //////////////////////////////
// eslint-disable-next-line
delete L.Icon.Default.prototype._getIconUrl
// eslint-disable-next-line
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})
// ////////////////////////////! END ////////////////////////////////////////////////////

export default {
  name: 'Microcontrollers',

  // Define the datas for the view
  data () {
    return {
      microcontrollers: [],
      loading: true,
      errored: false,
      file: null,
      showModal: false,
      markers: [],
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      center: [ 47.6333, 6.8667 ],
      zoom: 13
    }
  },

  // HTTP request, at the loading of the page, to get all the microcontrollers and stored them
  mounted () {
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller',
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        this.microcontrollers = response.data // Get the datas from the server
        if (this.microcontrollers) this.setMarkers() // If we have microcontrollers => Set the markers on the map
      })
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
      .finally(() => (this.loading = false))
  },

  computed: {
    /**
    * Function to check if a file has been selected
    * @returns true if a file has been selected ; false otherwise
    */
    fileState () {
      if (this.file === null) return false
      return true
    }
  },

  methods: {
    /**
    * Function used to update the zoom on the map
    * @param zoom => Zoom of the map
    */
    zoomUpdated (zoom) {
      this.zoom = zoom
    },

    /**
    * Function used when we update the map
    * @param center => Center of the map
    */
    centerUpdated (center) {
      this.center = center
    },

    /**
    * Function used to invalidate the size of the map to reload the map size calculation
    */
    shownPositionModal () {
      this.$refs.map.mapObject.invalidateSize()
    },

    /**
    * Function to set the markers to display on the map
    */
    setMarkers () {
      for (const microcontroller of this.microcontrollers) {
        if (microcontroller.latitude !== undefined && microcontroller.longitude !== undefined) {
          this.markers.push({
            id: microcontroller._id,
            coordinates: [microcontroller.latitude, microcontroller.longitude],
            addr: microcontroller.addr
          })
        }
      }
    },

    /**
    * Function used to convert the date stored in the database in a readable format
    * @param date => Date to convert into the good format
    * @returns the formatted date
    */
    formateDate (date) {
      var myDate = new Date(date)
      var month = (myDate.getUTCMonth() + 1) < 10 ? '0' + (myDate.getUTCMonth() + 1) : (myDate.getUTCMonth() + 1)
      var day = myDate.getUTCDate()
      var year = myDate.getUTCFullYear()
      var hour = myDate.getHours()
      var minutes = myDate.getMinutes() < 10 ? '0' + myDate.getMinutes() : myDate.getMinutes()
      var seconds = myDate.getSeconds() < 10 ? '0' + myDate.getSeconds() : myDate.getSeconds()

      return day + '-' + month + '-' + year + ' à ' + hour + ':' + minutes + ':' + seconds
    },

    /**
    * Function used to bold the next waking hour between all waking hours of a microcontroller
    * @param sleepTimes => All the sleep times of a microcontroller
    * @returns the formated string as we want (bold the next waking hour and not the other)
    */
    formateSleepTimes (sleepTimes) {
      var today = new Date() // Get today's date

      // Push all the date with the hours of the microcontrollers in an array
      var tabDate = []
      for (const sleepTime of sleepTimes) {
        var valuesSleepTime = sleepTime.split(':') // Split to get hours and minutes
        var date = new Date() // Date of today
        date.setHours(valuesSleepTime[0], valuesSleepTime[1], valuesSleepTime[2], 0) // Set h, m, s and ms with the good values

        // Add one day if the date is passed
        if (date.getTime() < today.getTime()) {
          date.setDate(date.getDate() + 1)
        }

        // Push the date into the array
        tabDate.push(new Date(date))
      }

      // Get the next sending of the microcontroller
      var nextSending = -1 // Index in the array of the next sending
      var lastTimeStamp = Infinity // Last time stamp we get => Set to infinity at the beginning
      for (const [index, val] of tabDate.entries()) {
        var actualDifference = val.getTime() - today.getTime() // Difference between the val into the array and now

        // Next sending => Smaller difference
        if (actualDifference < lastTimeStamp) {
          nextSending = index
          lastTimeStamp = actualDifference
        }
      }

      // Put all the values in an array to display after
      var arrayToReturn = []
      for (const [index, value] of tabDate.entries()) {
        if (index === nextSending) arrayToReturn.push('<strong>' + (value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()) + '</strong>')
        else arrayToReturn.push((value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()))
      }

      // Return the values of the array joined by a comma and a space to be responsive
      return arrayToReturn.join(', ')
    },

    /**
    * Function used to put in upper case the parameter
    * @param data => Data to put in upper case
    * @returns the data in the upper case format
    */
    upperCase (data) {
      return data.toUpperCase()
    },

    /**
    * Function used to download the datas of a microcontroller that are present in the database
    * @param addr => address of the microcontroller
    */
    downloadDatas: function (addr) {
      axios({
        url: getInfosServer().getURL() + getInfosServer().getPort() + '/api/download/microcontrollerDatas/' + addr,
        method: 'GET',
        responseType: 'blob',
        headers: {
          Authorization: this.$auth.user.session_ID,
          CSRFToken: this.$auth.user.csrfToken
        }
      })
        .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data])) // Create the object that contains microcontroller's datas
          var fileLink = document.createElement('a') // Create a link to download the file
          fileLink.href = fileURL // Put the URL to the link
          fileLink.setAttribute('download', 'datas_' + this.upperCase(addr) + '.csv') // Set the name of the file
          document.body.appendChild(fileLink) // Add the link to the DOM
          fileLink.click() // Force the click on the link to download the file
          fileLink.remove() // Remove the HTML element we have created
        })
        .catch(error => {
          // Alert the user concerning the error if we have a session ID problem
          if (error.response) {
            // Decrypt the blob message to get the text and print error according to the text
            error.response.data.text()
              .then(text => {
                if (JSON.parse(text).message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
                if (JSON.parse(text).message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
                if (JSON.parse(text).message === 'No datas') alert('Aucune donnée n\'est disponible pour ce microcontrôleur.')
                if (JSON.parse(text).message === 'Unable to parse the JSON') alert('Problème dans les options. Veuillez réessayer.')
                if (JSON.parse(text).message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
              })

          // Log the error
          } else {
            console.log(error)
          }
        })
    },

    /**
    * Function used to be able to download the code of a microcontroller
    * @param addr => address of the microcontroller
    */
    downloadCode: function (addr) {
      axios({
        url: getInfosServer().getURL() + getInfosServer().getPort() + '/api/download/microcontrollerFile/' + addr,
        method: 'GET',
        responseType: 'blob',
        headers: {
          Authorization: this.$auth.user.session_ID,
          CSRFToken: this.$auth.user.csrfToken
        }
      })
        .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data])) // Create the object that contains microcontroller's datas
          var fileLink = document.createElement('a') // Create a link to download the file
          fileLink.href = fileURL // Put the URL to the link
          fileLink.setAttribute('download', this.upperCase(addr) + '.ino') // Set the name of the file
          document.body.appendChild(fileLink) // Add the link to the DOM
          fileLink.click() // Force the click on the link to download the file
          fileLink.remove() // Remove the HTML element we have created
        })
        .catch(error => {
          // Alert the user concerning the error if we have a session ID problem
          if (error.response) {
            error.response.data.text()
              .then(text => {
                if (JSON.parse(text).message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
                if (JSON.parse(text).message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
                if (JSON.parse(text).message === 'Not the rights') alert('Vous n\'avez pas les droits pour télécharger un code microcontrôleur.')
                if (JSON.parse(text).message === 'Le microcontrôlleur n\'existe pas.') alert('Le microcontrôleur n\'existe pas. Veuillez essayer de télécharger le code d\'un microcontrôleur existant.')
                if (JSON.parse(text).message === 'Pas de noeud principal') alert('Veuillez créer un microcontrôleur principal avant de vouloir télécharger un microcontrôleur feuille.')
                if (JSON.parse(text).message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
              })

          // Log the error
          } else {
            console.log(error)
          }
        })
    },

    /**
    * Function used to download the server's certificate to put it on the SD card of the main node
    */
    downloadCertificate () {
      axios({
        url: getInfosServer().getURL() + getInfosServer().getPort() + '/api/download/serverCertificate',
        method: 'GET',
        responseType: 'blob',
        headers: {
          Authorization: this.$auth.user.session_ID,
          CSRFToken: this.$auth.user.csrfToken
        }
      })
        .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data])) // Create the object that contains microcontroller's datas
          var fileLink = document.createElement('a') // Create a link to download the file
          fileLink.href = fileURL // Put the URL to the link
          fileLink.setAttribute('download', 'certificate.txt') // Set the name of the file
          document.body.appendChild(fileLink) // Add the link to the DOM
          fileLink.click() // Force the click on the link to download the file
          fileLink.remove() // Remove the HTML element we have created
        })
        .catch(error => {
          // Alert the user concerning the error if we have a session ID problem
          if (error.response) {
            error.response.data.text()
              .then(text => {
                if (JSON.parse(text).message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
                if (JSON.parse(text).message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
                if (JSON.parse(text).message === 'Not the rights') alert('Vous n\'avez pas les droits pour télécharger le certificat du serveur.')
                if (JSON.parse(text).message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
              })

          // Log the error
          } else {
            console.log(error)
          }
        })
    },

    /**
    * Function used to delete a microcontroller via its address and its id
    * @param id => Identifier of the microcontroller
    * @param addr => Address of the microcontroller
    */
    deleteMicrocontroller: function (id, addr) {
      var addrEntered = prompt("Entrez l'adresse du microcontrôleur pour le supprimer :")

      if (addrEntered === null) return // Return if we want to cancel

      // Test to know if the two addresses are different
      if (!(this.upperCase(addrEntered) === this.upperCase(addr))) {
        alert('Les deux adresses ne sont pas identiques !! \nLa suppression ne peut se faire !')
        return
      }

      // Delete the microcontroller
      axios
        .delete(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/' + id + '/' + addr,
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          // Search and delete the index in the array of microcontrollers
          for (const [index, value] of this.microcontrollers.entries()) {
            if (value._id === id && value.addr === addr) {
              this.microcontrollers.splice(index, 1)
              break
            }
          }

          // Search and delete the index in the array of markers
          for (const [index, value] of this.markers.entries()) {
            if (value.addr === addr && value.id === id) {
              this.markers.splice(index, 1)
              break
            }
          }

          alert('Le microcontrôleur a bien été supprimé.')
        })
        .catch(error => {
          if (error.response) {
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.') // Print session id error
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.') // Print csrf token error
            if (error.response.data.error === 'Addr invalid') alert('L\'adresse du microcontrôleur est invalide.') // Alert on the addr invalid
            if (error.response.data.message === 'Microcontroller doesn\'t exist') alert('Le microcontrôleur n\'existe pas.') // Alert on the microcontroller doesn't exist
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.') // Alert on the account is not activated error
          }

          if (error.message === 'Network Error') alert('Le serveur est inaccessible pour le moment.\n Veuillez réessayer plus tard.')
        })
    },

    /**
    * Function to check the validity of the form
    * @returns true if the form is valid ; false otherwise
    */
    checkFormValidity () {
      const valid = this.$refs.form.checkValidity()
      return valid
    },

    /**
    * Function to reset the variables when we quit the modal
    */
    resetModal () {
      this.file = null // Reset the file
      this.showModal = !this.showModal // Invert the variable to show or not the modal
    },

    /**
    * Function to be called when the user wants to upload datas on the server
    */
    handleOk () {
      this.handleSubmit() // Call the function to verify and send datas
    },

    /**
    * Check the form, send the datas to the server and close the modal
    * @returns nothing if we have an error in the form
    */
    handleSubmit () {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        alert('Veuillez choisir un fichier valide.')
        return
      }

      // Creation of the datas to send (File + Session ID of the user)
      let fileData = new FormData()
      fileData.append('datas', this.file)

      // Post the datas
      axios
        .post(getInfosServer().getURL() + getInfosServer().getPort() + '/api/uploadDatas/', fileData,
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          if (response.data.code === 1) alert('Les données ont bien été ajoutées dans la base.')
          else if (response.data.code === 2) alert('Les données sont déjà présentes dans la base.')

          this.resetModal() // Close the modal via the method to invert and reinitialize the variables
        })
        .catch(error => {
          if (error.response) {
            if (error.response.data.code === -1) alert('Le microcontrôleur n\'existe pas.')
            if (error.response.data.code === -2) alert('Veuillez démarrer le microcontrôleur pour initialiser la base de données.')
            if (error.response.data.code === -3) alert('Le CSV que vous avez inclus est mal formé. Veuillez téléverser un CSV valide (sans modification).')
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
            if (error.response.data.message === 'No file with the key datas uploaded') alert('Veuillez entrer un fichier.')
            if (error.response.data.error === 'Addr invalid') alert('L\'adresse du microcontrôleur est invalide.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
          }
          if (error.message === 'Network Error') alert('Le serveur est inaccessible. \n Veuillez réessayer plus tard.')
        })
    },

    /**
     * Function used to be able to make the HTTP request to download all the datas stored in the database
     */
    exportAllDatasOfAllMicrocontrollers () {
      // HTTP request
      axios
        .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/download/allMicrocontrollersDatas',
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          // Code to download the CSV file sent by the server
          var fileURL = window.URL.createObjectURL(new Blob([response.data])) // Create the object that contains microcontroller's datas
          var fileLink = document.createElement('a') // Create a link to download the file
          fileLink.href = fileURL // Put the URL to the link
          fileLink.setAttribute('download', 'all_datas.csv') // Set the name of the file
          document.body.appendChild(fileLink) // Add the link to the DOM
          fileLink.click() // Force the click on the link to download the file
          fileLink.remove() // Remove the HTML element we have created
        })
        .catch(error => {
          // Alert the user concerning the error if we have a session ID problem
          if (error.response) {
            error.response.data.text()
              .then(text => {
                if (JSON.parse(text).message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
                if (JSON.parse(text).message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
                if (JSON.parse(text).message === 'Not the rights') alert('Vous n\'avez pas les droits pour télécharger le certificat du serveur.')
                if (JSON.parse(text).message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
              })

          // Log the error
          } else {
            console.log(error)
          }
        })
    }
  },

  components: { LMap, LTileLayer, LMarker, LIcon, LTooltip }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media only screen and (max-width: 510px) {
  .bloc {
    margin-right: 10%;
  }
  .rounded-pill-perso {
    border-radius: 4rem;
  }
  .space-for-smartphones {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 511px) {
  .rounded-pill-perso {
    border-radius: 5rem
  }
}
@media only screen and (min-width: 511px) and (max-width: 700px) {
  .rounded-pill-perso {
    border-radius: 6rem
  }
}
@media only screen and (min-width: 511px) and (max-width: 1250px) {
  .space-for-tablets {
    margin-top: 10px;
  }
}
.rounded-perso{
  border-radius: 2rem;
}
.buttons-row {
  margin-bottom: 10px;
  margin-top: 10px;
}
.map {
  width: 100%;
  height: 300px;
}
.text-microcontroller {
  margin-bottom: 5px;
}
</style>
