<template>
    <div>
      <div class="container">
          <section v-if="errored" style="padding-top: 10px">
              <b-alert show variant="danger" class="rounded-perso">
                  <h4 class="alert-heading">Erreur ! </h4>
                  <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.</p>
                  <hr>
                  <p class="mb-0">Veuillez réessayer ultérieurement.</p>
              </b-alert>
          </section>

          <div v-if="microcontrollerModified === 'error'" style="padding-top: 10px;">
            <section>
              <b-alert show variant="danger" class="rounded-perso">
                <h4 class="alert-heading">Erreur ! </h4>
                <p>Nous sommes désolés, nous n'avons pas pu modifier les données.</p>
                <hr>
                <p class="mb-0">Veuillez réessayer ultérieurement.</p>
              </b-alert>
            </section>
          </div>
          <div v-if="microcontrollerModified === 'OK'" style="padding-top: 10px;">
            <section>
              <b-alert show variant="success" class="rounded-perso">
                <h4 class="alert-heading">Succès ! </h4>
                <p>Les données ont bien été modifiées.</p>
              </b-alert>
            </section>
          </div>

          <div v-if="loading"><img src="../assets/loading.gif" alt="Chargement des données du microcontrôleur"></div>

          <div v-if="microcontroller !== null" style="margin-bottom:1rem">
            <div v-if="microcontroller.isEndNode">
              <b-overlay :show="overlayForm">
                <h2>Modifier le microcontrôleur {{ upperCase(microcontroller.addr) }}</h2>
                <h5>Créé le {{ formateDate(microcontroller.creationDate) }} et modifié le {{ formateDate(microcontroller.modificationDate) }}</h5>

                <form @submit="checkForm" id="form" style="padding-top: 30px;">

                  <b-form-group label="Placez un marqueur sur la carte en cliquant dessus afin de définir la position du microcontrôleur">
                    <Map :marker="marker" @setMarker="setMarker" v-bind:style="{border: style}" id="map" />
                    <span v-if="marker !== null" style="color:#28a745">Position sélectionnée pour le microcontroller (latitude, longitude) : {{marker.coordinates[0]}}, {{marker.coordinates[1]}}</span>

                    <b-form-input aria-describedby="marker" :state="choicePosition" hidden></b-form-input>
                    <b-form-invalid-feedback id="marker">
                          Veuillez sélectionner la position du microcontrôleur
                      </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group label="Heure(s) de réveil du microcontrôleur" label-for="sleepTime-input">
                    <b-form-input id="sleepTime-input" v-model="microcontroller.sleepTime" :state="sleepTimeState" aria-describedby="input-sleepTime" class="rounded-input" placeholder="00:00:00, 10:00:00, 20:00:00" required></b-form-input>
                    <b-form-invalid-feedback id="input-sleepTime">
                      Les heures de réveil sont séparées par des virgules (24 valeurs max. en manuel). <br/> Exemple : 09:00:00, 09:10:59
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group label="Groupe du microcontrôleur" label-for="radio-group-group" v-if="options.length !== 0">
                    <b-form-radio-group id="radio-group-group" v-model="selectGroup" :options="options" name="radio-options"></b-form-radio-group>
                  </b-form-group>

                  <input type="submit" value="Modifier le microcontrôleur" class="btn btn-warning rounded-pill" v-bind:disabled="disableButton"/>
                </form>
              </b-overlay>
            </div>

            <div v-else style="padding-top: 30px;">
              <b-alert show variant="warning" class="rounded-perso">
                <h4 class="alert-heading">Aucune reconfiguration possible ! </h4>
                <hr>
                <p class="mb-0">Le microcontrôleur {{ upperCase(microcontroller.addr) }} ne peut pas être modifié car c'est un noeud principal. Il ne bénéficie donc pas de la reconfiguration</p>
              </b-alert>
            </div>
          </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import Map from './Map'

export default {
  name: 'ModifyMicrocontroller',

  // Define the datas for the view
  data () {
    return {
      microcontroller: null,
      loading: true,
      errored: false,
      errors: [],
      microcontrollerModified: '',
      disableButton: false,
      overlayForm: false,
      goodRoleToAccess: false,
      marker: null,
      style: 'solid 1px #dc3545',
      selectGroup: '',
      options: []
    }
  },

  // Verify the rights of the user to access this route => Created executed before mounted
  created () {
    if (this.$auth.user.role !== 'admin') {
      return this.$router.push('/not-the-rights') // Check the rights
    }

    this.goodRoleToAccess = true
  },

  // HTTP request, at the loading of the page, to get the microcontroller by the id passed in parameter
  mounted () {
    if (!this.goodRoleToAccess) return // Not the admin role => Don't make the HTTP request + Not the rights page will come

    // HTTP request to get the microcontroller data
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/' + this.$route.params.id,
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        this.microcontroller = response.data
        this.microcontroller.sleepTime = this.microcontroller.sleepTime.toString() // Set the waking hours with the server datas

        // Test if we have well retrieve all the datas
        if (response.data.latitude !== undefined && response.data.longitude !== undefined) this.marker = { id: 1, coordinates: [response.data.latitude, response.data.longitude] } // Set the marker with the datas from the server
        if (this.marker) this.style = 'solid 1px #28a745' // Change the style of the border of the map

        // HTTP request to get all the available groups
        axios
          .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/groups/withoutAllInfo',
            {
              headers: {
                Authorization: this.$auth.user.session_ID
              }
            }
          )
          .then(response => {
            // Add the first option to select no group
            this.options.push({ text: 'Aucun', value: '' })

            // Store the groups to add to the new microcontroller
            for (const group of response.data) {
              this.options.push({
                text: group.name,
                value: group.name
              })

              if (this.microcontroller.groups === group.name) this.selectGroup = group.name
            }
          })
          .catch(error => {
            this.errored = true

            // Alert the user concerning the error if we have a session ID problem
            if (error.response) {
              if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
              if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour accéder aux adresses disponibles')
              if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
            }
          })
      })
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'ID incorrect') alert('L\'identifiant du microcontrôleur est invalide.')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
        }
      })
      .finally(() => (this.loading = false))
  },

  computed: {
    /**
    * Function to be able to know if a marker has been placed on the map
    * @returns true if a marker has been placed on the map ; false otherwise
    */
    choicePosition () {
      if (!this.marker) return false
      else return true
    },

    /**
    * Function to check if the sleep times entered are correct
    * @returns true if the sleep times are good ; false otherwise
    */
    sleepTimeState () {
      var sleepTime = this.microcontroller.sleepTime
      if (!sleepTime) {
        this.updateButton(true)
        return false
      }

      sleepTime = sleepTime.split(',')

      // 24 values max in manual
      if (sleepTime.length > 24) {
        this.updateButton(true)
        return false
      }

      for (const sleepTimeValue of sleepTime) {
        var sleepTimeValueSplit = sleepTimeValue.toString().split(':')

        if (sleepTimeValueSplit.length !== 3) {
          this.updateButton(true)
          return false
        }

        for (const [index, values] of sleepTimeValueSplit.entries()) {
          if (isNaN(values) || !Number.isInteger(parseFloat(values)) || values < 0 || values.toString().trim().length !== 2) {
            this.updateButton(true)
            return false
          }

          // Here check the hours
          if (index === 0) {
            if (values > 23) {
              this.updateButton(true)
              return false
            }

          // Check the minutes
          } else {
            if (values > 59) {
              this.updateButton(true)
              return false
            }
          }
        }
      }

      this.updateButton(false)
      return true
    }
  },

  methods: {
    /**
    * Function used to set the marker value
    * @param id => ID of the marker (we have only one marker so id will be always 1)
    * @param coordinates => Coordinates of the microcontroller on the map
    */
    setMarker ({ id, coordinates }) {
      this.style = 'solid 1px #28a745' // Change the style of the border of the map to pass it as accepted
      this.marker = { id: id, coordinates: coordinates } // Set the marker value
    },

    /**
    * Function used to update the value to disable or not the button
    * @param value => Value for the button
    */
    updateButton (value) {
      this.disableButton = value
    },

    /**
    * Function used to convert the date stored in the database in a readable format
    * @param date => Date to convert into the good format
    * @returns the formatted date
    */
    formateDate (date) {
      var myDate = new Date(date)
      var month = (myDate.getUTCMonth() + 1) < 10 ? '0' + (myDate.getUTCMonth() + 1) : (myDate.getUTCMonth() + 1)
      var day = myDate.getUTCDate()
      var year = myDate.getUTCFullYear()
      var hour = myDate.getHours()
      var minutes = myDate.getMinutes() < 10 ? '0' + myDate.getMinutes() : myDate.getMinutes()
      var seconds = myDate.getSeconds() < 10 ? '0' + myDate.getSeconds() : myDate.getSeconds()

      return day + '-' + month + '-' + year + ' à ' + hour + ':' + minutes + ':' + seconds
    },

    /**
    * Function used to put in upper case the parameter
    * @param data => Data to put in upper case
    * @returns the data in the upper case format
    */
    upperCase (data) {
      return data.toUpperCase()
    },

    /**
    * Function used to verify if all the datas are good to send to the server
    * @param e => Event when we submit the form
    */
    checkForm: function (e) {
      if (this.microcontrollerModified === 'OK') this.microcontrollerModified = '' // Delete the success or error message

      var sleepTime = this.microcontroller.sleepTime
      this.errors = []

      // Test if it is defined or not
      if (!sleepTime) this.errors.push('Temps de sommeil non défini')

      // Test all the values to know if they are at the good format we want that are hour:minutes
      sleepTime = sleepTime.split(',')

      var isErrorNaN = false

      // 24 values max in manual
      if (sleepTime.length > 24) {
        isErrorNaN = true
        return false
      }

      for (const sleepTimeValue of sleepTime) {
        var sleepTimeValueSplit = sleepTimeValue.toString().split(':')

        // Check the length of split
        if (sleepTimeValueSplit.length !== 3) {
          isErrorNaN = true
        }

        // Check if all the values are correct
        for (const [index, values] of sleepTimeValueSplit.entries()) {
          if (isNaN(values) || !Number.isInteger(parseFloat(values)) || values < 0 || values.toString().trim().length !== 2) {
            isErrorNaN = true
          }

          // Here check the hours
          if (index === 0) {
            if (values > 23) {
              isErrorNaN = true
            }

          // Check the minutes
          } else {
            if (values > 59) {
              isErrorNaN = true
            }
          }
        }
      }

      // Test if the marker is defined
      if (this.marker == null) {
        this.errors.push('Veuillez définir une position pour le microcontrôleur') // Detect if the marker is well positionned or not
        alert('Veuillez définir une position pour le microcontrôleur sur la carte.') // Alert the user to do that

      // Test if the coordinates of the marker are well formed
      } else {
        // Test the latitude
        if (Number.isNaN(this.marker.coordinates[0])) {
          this.errors.push('Latitude is not a number')
          alert('Latitude is a number')
        }

        // Test the longitude
        if (Number.isNaN(this.marker.coordinates[1])) {
          this.errors.push('Longitude is not a number')
          alert('Longitude is a number')
        }
      }

      // If we have detected an error => Display the message
      if (isErrorNaN) this.errors.push('Les temps de sommeil sont des heures séparées par des virgules (24 valeurs max. en manuel). \n Exemple : 09:00:00, 09:10:59')

      e.preventDefault() // Don't post the form

      // Check if no errors => Make the update request
      if (this.errors.length === 0) {
        this.overlayForm = true // Put an overlay

        axios.put(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/' + this.$route.params.id,
          {
            sleepTime: sleepTime,
            markerPosition: this.marker.coordinates,
            group: this.selectGroup
          },
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
          .then(response => {
            this.microcontrollerModified = 'OK'
            this.overlayForm = false // Delete the overlay
            this.microcontroller.modificationDate = new Date() // Update the modification date locally => Avoid return object to display
          })
          .catch(error => {
            this.overlayForm = false // Delete the overlay
            this.microcontrollerModified = 'error' // Display the error message

            // Display the errors
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
            if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour modifier un microcontrôleur.')
            if (error.response.data.message === 'ID incorrect') alert('L\'identifiant du microcontrôleur n\'est pas valide.')
            if (error.response.data.message === 'Sleep time incorrect') alert('Les temps de réveil sont invalides.')
            if (error.response.data.message === 'Position incorrect') alert('La position du microcontrôleur est invalide.')
            if (error.response.data.message === 'Group undefined') alert('Le groupe n\'est pas défini.')
          })
      }
    }
  },

  components: { Map }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.rounded-perso{
  border-radius: 2rem;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
</style>
