<template>
  <div id="modify-forgotten-passwd">
    <b-container>
      <h3>Modification de votre mot de passe oublié</h3>

      <b-alert show variant="danger" class="rounded-perso alert-danger-margin-perso" v-if="activationProblem">
        <h4 class="alert-heading">Erreur ! </h4>
        <p>{{ messageProblem }}</p>
        <hr>
        <p class="mb-0">{{ underMessageProblem }}</p>
      </b-alert>

      <b-alert show variant="success" class="rounded-perso alert-success-margin-perso" v-if="activationSuccess">
        <h4 class="alert-heading">OK</h4>
        <p>Vos identifiants ont bien été modifiés.</p>
        <hr>
        <p class="mb-0">Vous pouvez désormais vous connecter avec vos nouveaux identifiants.</p> <br/>
        <p class="mb-0">Vous allez être redirigé sur la page d'accueil.</p>
      </b-alert>

      <div v-if="canAccessToForm">
        <b-alert show variant="danger" class="rounded-perso alert-danger-margin-perso" v-if="modificationProblem">
          <h4 class="alert-heading">Problème ! </h4>
          <p>{{ modificationMessageProblem }}</p>
          <hr>
          <p class="mb-0">{{ underModificationMessageProblem }}</p>
        </b-alert>

        <form v-on:submit.prevent style="margin-bottom:20px">
          <b-form-group label="Entrez votre adresse mail" label-for="email-input">
            <b-form-input @input="emailToLowerCase" type="email" id="email-input" v-model="email" :state="emailState" required class="rounded-input" aria-describedby="input-email"></b-form-input>
            <b-form-invalid-feedback id="input-email">
              Veuillez renseigner une adresse email valide
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group label="Entrez votre mot de passe" label-for="password-input" id="form-group-mdp">
              <b-tooltip target="form-group-mdp" triggers="focus" variant="info">
                <ul style="margin-left:-10%; margin-bottom:0%">
                  <li style="font-size:10px">7 caractères mini. et 30 maxi.</li>
                  <li style="font-size:10px">1 majuscule et miniscule mini.</li>
                  <li style="font-size:10px">1 chiffre mini.</li>
                </ul>
              </b-tooltip>
              <b-form-input type="password" id="password-input" v-model="password" :state="password1State" required class="rounded-input" aria-describedby="input-passwd1"></b-form-input>
              <password v-model="password" :strength-meter-only="true" @score="updateScore"/>
              <b-form-invalid-feedback id="input-passwd1">
                Veuillez renseigner un mot de passe valide conforme à la politique de sécurité
              </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group label="Confirmez votre mot de passe" label-for="password2-input">
              <b-form-input type="password" id="password2-input" v-model="password2" :state="password2State" required class="rounded-input" aria-describedby="input-passwd2"></b-form-input>
              <b-form-invalid-feedback id="input-passwd2">
                Veuillez renseigner le même mot de passe que le premier
              </b-form-invalid-feedback>
          </b-form-group>

          <b-button pill variant="warning" @click="modifyPassword()">Modifier mon mot de passe</b-button>
        </form>
      </div>
    </b-container>
  </div>
</template>

<script>
import Password from 'vue-password-strength-meter'
import PasswordValidator from 'password-validator'

export default {

  // Data to return the view
  data () {
    return {
      messageProblem: '',
      underMessageProblem: '',
      activationProblem: false,
      activationSuccess: false,
      goodRoleToAccess: true,
      canAccessToForm: false,
      tokenForModif: '',
      email: '',
      password: '',
      password2: '',
      statePassword: false,
      modificationMessageProblem: '',
      underModificationMessageProblem: '',
      modificationProblem: false
    }
  },

  /**
  * Function executed at the creation of the hook
  * Used to check if we have a connected user or not => If connected, redirected to the home
  */
  created () {
    if (this.$auth.user !== null) this.$router.push('/') // If a user is connected => Return him to the home
  },

  /**
  * Function executed when we mount the hook (just aftet created ())
  * Used to make the HTTP request to know if the user can access to the form to update the forgotten password or not
  * If we have a connected user => Quit the function
  */
  mounted () {
    if (this.$auth.user !== null) return // Quit the function

    // HTTP request to know if we can access to the form to modify the forgotten password
    this.$auth.checkAccessToModifyForgottenPassRoute(this.$route.params.token)
      .then(response => {
        if (response.message === 'OK') {
          this.tokenForModif = response.token // Store the token to send when we will modify the password
          this.canAccessToForm = true // Display the form

        // If we have a problem when we made HTTP request
        } else {
          // Test if the message is no user error
          if (response === 'No user') {
            this.messageProblem = 'Aucun utilisateur n\'a été trouvé.'
            this.underMessageProblem = 'Veuillez refaire une demande de modification de mot de passe oublié.'
            this.activationProblem = true
            return
          }

          // Test if the message is the token undefined error
          if (response === 'Token undefined') {
            this.messageProblem = 'Problème de jeton.'
            this.underMessageProblem = 'Veuillez réessayer.'
            this.activationProblem = true
            return
          }

          // Test if the message is the not an uuid error
          if (response === 'Not an UUID') {
            this.messageProblem = 'Le jeton est incorrect.'
            this.underMessageProblem = 'Veuillez réessayer avec un jeton correct.'
            this.activationProblem = true
            return
          }

          // Network error
          if (response === 'Network Error') {
            this.messageProblem = 'Une erreur est survenue.'
            this.underMessageProblem = 'Veuillez réessayer ultérieurement.'
            this.activationProblem = true
          }
        }
      })
  },

  computed: {
    /**
    * Function to check if the email entered has a valid form
    * @returns true if the form of the mail is valid ; false otherwise
    */
    emailState () {
      if (
        /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email) &&
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.email)
      ) return true
      else return false
    },

    /**
    * Function to update the state of the password according to updateScore()
    * @returns true if the password is validated and if its score is reliable ; false otherwise
    */
    password1State () {
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      return this.statePassword && validator.validate(this.password)
    },

    /**
    * Function to check if the first password is the same than the second
    * @returns true if the two passwords are the same ; false otherwise
    */
    password2State () {
      if (this.password === this.password2 && this.password2 !== '') return true
      else return false
    }
  },

  methods: {
    /**
    * Function used to transform the upper case of the email into lower case one
    * @param event => Value of the input (We will not use it because we just want to detect changes)
    */
    emailToLowerCase (event) {
      this.email = this.email.toLowerCase()
    },

    /**
    * Function to update the score of the password
    * @param score => Security score of the password
    * @returns true if the score is realiable ; false otherwise
    */
    updateScore (score) {
      if (score >= 3) this.statePassword = true // If my score is pretty good => Password OK
      else this.statePassword = false // Else password incorrect
    },

    /**
    * Function used to update the forgotten password with the new one
    * Can access to this function only if the mounted part goes well (we have found the user via the token)
    */
    modifyPassword () {
      // Reinit the values
      this.modificationProblem = false // Hide the danger alert
      this.modificationMessageProblem = '' // Reinit of the message
      this.underModificationMessageProblem = '' // Reinit the message that is under the message
      this.activationSuccess = false // Hide the success alert

      // Test the email address
      if (
        !(
          /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email) &&
          /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(this.email)
        )
      ) {
        this.modificationMessageProblem = 'L\'adresse email entrée est incorrecte.'
        this.underModificationMessageProblem = 'Entrez une adresse mail valide.'
        this.modificationProblem = true
        return false
      }

      // Test if the two passwords are the same
      if (this.password !== this.password2) {
        this.modificationMessageProblem = 'Les deux mot de passe sont différents !!!'
        this.underModificationMessageProblem = 'Entrez les deux mêmes mots de passe.'
        this.modificationProblem = true
        return false
      }

      // Check the security of the password via the state which is connected to validator and score of the password
      if (!this.statePassword) {
        this.modificationMessageProblem = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        this.underModificationMessageProblem = 'Veuillez entrer un mot de passe plus robuste.'
        this.modificationProblem = true
        return false
      }

      // Creation of the validator
      const validator = new PasswordValidator() // Create a new instance of password validator
      validator
        .is().min(7) // Minimum length 7
        .is().max(30) // Maximum length 30
        .has().uppercase() // Must have uppercase letters
        .has().lowercase() // Must have lowercase letters
        .has().digits(1) // Must have at least 1 digits
        .has().not().spaces() // Should not have spaces

      // Validate the password
      if (!validator.validate(this.password)) {
        this.modificationMessageProblem = 'Le mot de passe ne respecte pas notre politique de sécurité !!!'
        this.underModificationMessageProblem = 'Veuillez entrer un mot de passe plus robuste.'
        this.modificationProblem = true
        return false
      }

      // HTTP request to modify the forgotten password
      this.$auth.modifyForgottenPassword(this.email, this.password, this.tokenForModif)
        .then(response => {
          // The modification is good => The user can use the new password
          if (response === 1) {
            this.activationSuccess = true // Display the OK message with the redirection message
            setTimeout(this.returnToHome, 2000) // Redirection on the home in 2 seconds

          // If we have a problem during the HTTP request
          } else {
            // Test if the response is no user error
            if (response === 'No user') {
              this.modificationMessageProblem = 'Aucun utilisateur n\'a été trouvé.'
              this.underModificationMessageProblem = 'Veuillez renseigner une email de compte valide.'
              this.modificationProblem = true
              return
            }

            // Test if the response is not an email error
            if (response === 'Not an email') {
              this.modificationMessageProblem = 'L\'email entré est incorrect.'
              this.underModificationMessageProblem = 'Veuillez réessayer.'
              this.modificationProblem = true
              return
            }

            // Test if the response is password invalid error
            if (response === 'Password invalid') {
              this.modificationMessageProblem = 'Le mot de passe entré est incorrect.'
              this.underModificationMessageProblem = 'Veuillez réessayer.'
              this.modificationProblem = true
              return
            }

            // Test if the response is the token undefined error
            if (response === 'Token undefined') {
              this.modificationMessageProblem = 'Problème de jeton.'
              this.underModificationMessageProblem = 'Veuillez réessayer.'
              this.modificationProblem = true
              return
            }

            // Test if the response is the not an uuid error
            if (response === 'Not an UUID') {
              this.modificationMessageProblem = 'Le jeton est incorrect.'
              this.underModificationMessageProblem = 'Veuillez réessayer avec un jeton correct.'
              this.modificationProblem = true
              return
            }

            // Network error
            if (response === 'Network Error') {
              this.modificationMessageProblem = 'Une erreur est survenue.'
              this.underModificationMessageProblem = 'Veuillez réessayer ultérieurement.'
              this.activationProblem = true
            }
          }
        })
    },

    /**
    * Function used when we will make the setTimeout() when we have modified the forgotten the password
    * We return the user to the home
    */
    returnToHome () {
      this.$router.push('/')
    }
  },

  components: { Password }
}
</script>

<style scoped>
.rounded-perso {
  border-radius: 2rem;
  margin-top: 20px;
}
.alert-danger-margin-perso {
  margin-left: 10%;
  margin-right: 10%;
}
.alert-success-margin-perso {
  margin-left: 15%;
  margin-right: 15%;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
</style>
