<template>
  <div>
    <b-container style="margin-bottom: 20px">
      <b-row>
        <b-col>
          <h2>Posts</h2>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button pill variant="success" @click="showAddPostModal">Ajouter un post</b-button>

          <b-modal ref="addPostModal" title="Ajouter un post">
            <b-alert show variant="danger" class="rounded-perso-for-modal" v-if="errorAddPost" style="text-align:center">
              <h4 class="alert-heading">Erreur ! </h4>
              <p>{{ errorMessageAddPost }}</p>
            </b-alert>

            <form v-on:submit.prevent>
              <div style="text-align:center">
                <b-form-group label="Titre du post" label-for="title-post">
                  <b-form-input type="text" id="title-post" v-model="titlePost" required class="rounded-input" :state="titlePostState" aria-describedby="input-title-post"></b-form-input>
                  <b-form-invalid-feedback id="input-title-post">
                    Veuillez entrer un titre pour le post
                  </b-form-invalid-feedback>
                </b-form-group>
              </div>

              <div>
                <div style="text-align:center;margin-bottom:10px">
                  <span>Texte du post</span>
                </div>

                <vue-editor v-model="textPost"></vue-editor>
              </div>
            </form>

            <template #modal-footer="{ cancel }">
              <b-button pill variant="outline-danger" @click="cancel()">Annuler</b-button>
              <b-button pill variant="outline-success" @click="addPost()">Ajouter</b-button>
            </template>
          </b-modal>
        </b-col>
      </b-row>
    </b-container>

    <b-alert show variant="warning" class="rounded-perso" v-if="posts.length === 0 && errored === false && loading === false">
      <h4 class="alert-heading">Ah !</h4>
      <p>
        Aucun post à afficher !
      </p>
      <hr>
      <p class="mb-0">
        Veuillez ajouter un post pour pouvoir les afficher.
      </p>
    </b-alert>

    <b-alert show variant="danger" class="rounded-perso" v-if="errored">
      <h4 class="alert-heading">Erreur !</h4>
      <p>
        Une erreur est survenue.
      </p>
      <hr>
      <p class="mb-0">
        Veuillez réessayer plus tard.
      </p>
    </b-alert>

    <transition name="fade">
      <div class="bloc" v-if="loading === false && posts.length !== 0">
        <b-card class="rounded-perso-for-modal" v-bind:header="post.title" v-for='post in posts' :key=post._id style="overflow:hidden;margin-bottom:20px">
          <p>
            Publié le {{ formateDate(post.dateAdded) }} par {{ post.addedBy }} <br/>
            <span v-if="post.dateAdded !== post.dateModification" class="text-muted" style="font-size: 14px">Modifié le {{ formateDate(post.dateModification) }}</span>
          </p>

          <p v-html="post.text" style="text-align:initial"></p>

          <b-button pill class="space-for-smartphones" variant="outline-warning" @click="showModifyPostModal(post.title, post.text, post._id)">Modifier le post</b-button>
          <b-button pill variant="outline-danger" @click="deleteThePost(post._id, post.title)">Supprimer le post</b-button>
        </b-card>

        <b-modal ref="modifyPostModal" title="Modifier un post">
          <b-alert show variant="danger" class="rounded-perso-for-modal" v-if="errorModifyPost" style="text-align:center">
            <h4 class="alert-heading">Erreur ! </h4>
            <p>{{ errorMessageModifyPost }}</p>
          </b-alert>

          <form v-on:submit.prevent>
            <div style="text-align:center">
              <b-form-group label="Titre du post" label-for="title-post">
                <b-form-input type="text" id="title-post" v-model="titlePost" required class="rounded-input" :state="titlePostState" aria-describedby="input-title-post"></b-form-input>
                <b-form-invalid-feedback id="input-title-post">
                  Veuillez entrer un titre pour le post
                </b-form-invalid-feedback>
              </b-form-group>
            </div>

            <div>
              <div style="text-align:center;margin-bottom:10px">
                <span>Texte du post</span>
              </div>

              <vue-editor v-model="textPost"></vue-editor>
            </div>
          </form>

          <template #modal-footer="{ cancel }">
            <b-button pill variant="outline-danger" @click="cancel()">Annuler</b-button>
            <b-button pill variant="outline-warning" @click="modifyThePost()">Modifier</b-button>
          </template>
        </b-modal>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import { VueEditor } from 'vue2-editor'

export default {
  name: 'Posts',

  data () {
    return {
      posts: [],
      errored: false,
      textPost: '',
      titlePost: '',
      idPost: '',
      errorAddPost: false,
      errorMessageAddPost: '',
      errorModifyPost: false,
      errorMessageModifyPost: '',
      loading: true,
      goodRoleToAccess: false
    }
  },

  /**
  * Function used to check if the user can access to the actual page
  * This function is executed before mounted()
  */
  created () {
    if (this.$auth.user.role !== 'admin') {
      return this.$router.push('/not-the-rights') // Check the rights
    }

    this.goodRoleToAccess = true
  },

  /**
  * Function to get all the posts when the hook is created
  */
  mounted () {
    if (!this.goodRoleToAccess) return // Not the admin role => Don't make the HTTP request + Not the rights page will come

    // If we are admin => Make the HTTP request
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts',
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        this.posts = response.data
      })
      .catch(error => {
        this.errored = true

        // Alert the user if the API key is not correct
        if (error.response) {
          if (error.response.data.message === 'Not connected') this.errorMessageAddPost = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.'
          if (error.response.data.message === 'Invalid token') this.errorMessageAddPost = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.'
          if (error.response.data.message === 'Not the rights') this.errorMessageAddPost = 'Vous n\'avez pas les droits pour ajouter un post.'
          if (error.response.data.message === 'Account not activated') this.errorMessageAddPost = 'Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.'
        }
      })
      .finally(() => {
        this.loading = false
      })
  },

  computed: {
    /**
    * Function to chekc if the title entered contains some text or not
    * @returns true if the title contains text ; false otherwise
    */
    titlePostState () {
      if (this.titlePost === '') return false
      else return true
    }
  },

  methods: {
    /**
    * Function used to reinit the post's variables + Reinit error messages + Show the modal
    */
    showAddPostModal () {
      // Reinit the text, the title and the ID of the post
      this.textPost = ''
      this.titlePost = ''
      this.idPost = ''

      // Reinit the error message
      this.errorMessageAddPost = ''
      this.errorAddPost = false

      // Show the modal
      this.$refs.addPostModal.show()
    },

    /**
    * Function used to set the post's variables to the values they need for the update + Reinit error messages + Show the modal
    */
    showModifyPostModal (title, text, idPost) {
      // Set the text, title and ID of the post
      this.textPost = text
      this.titlePost = title
      this.idPost = idPost

      // Reinit the error message
      this.errorMessageModifyPost = ''
      this.errorModifyPost = false

      // Show the modal
      this.$refs.modifyPostModal.show()
    },

    /**
    * Function used to add a new post in the database
    * @returns false if we found an error before sending the new post
    */
    addPost () {
      // Reinit the message error and boolean values
      this.errorMessageAddPost = ''
      this.errorAddPost = false

      // Check the tile of the post
      if (this.titlePost === '') {
        this.errorAddPost = true
        this.errorMessageAddPost = 'Le titre n\'est pas rempli.'
        return false
      }

      // Check the text of the post
      if (this.textPost === '' || this.textPost === '<br>') {
        this.errorAddPost = true
        this.errorMessageAddPost = 'Le texte n\'est pas rempli.'
        return false
      }

      // Creation of a variable to store the created post
      var postToAdd = {
        title: this.titlePost,
        text: this.textPost,
        addedBy: this.$auth.user.email
      }

      // Send the new post to the server
      axios
        .post(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts/addPost',
          postToAdd,
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          if (response.data.message === 'OK') {
            alert('Le post a bien été créé.') // Display an alert for the user
            this.posts.unshift(response.data.post) // Add the created post at the beginning of the array to display it for the user
            this.$refs.addPostModal.hide() // Close the modal after the creation of the new post
          }
        })
        .catch(error => {
          this.errorAddPost = true

          // Display the different error messages
          if (error.message === 'Network Error') this.errorMessageAddPost = 'Un problème est survenu. Veuillez réessayer plus tard.'
          if (error.response) {
            if (error.response.data.message === 'Not connected') this.errorMessageAddPost = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.'
            if (error.response.data.message === 'Invalid token') this.errorMessageAddPost = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.'
            if (error.response.data.message === 'Not the rights') this.errorMessageAddPost = 'Vous n\'avez pas les droits pour ajouter un post.'
            if (error.response.data.message === 'Account not activated') this.errorMessageAddPost = 'Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.'
            if (error.response.data.message === 'Title not correct') this.errorMessageAddPost = 'Le titre du post est incorrect.'
            if (error.response.data.message === 'Text not correct') this.errorMessageAddPost = 'Le texte du post est incorrect.'
          }
        })
    },

    /**
    * Function used to modify a created post
    * @returns false if we have an error when we check the datas
    */
    modifyThePost () {
      // Reinit the message error and boolean values
      this.errorMessageModifyPost = ''
      this.errorModifyPost = false

      // Check the tile of the post
      if (this.titlePost === '') {
        this.errorModifyPost = true
        this.errorMessageModifyPost = 'Le titre n\'est pas rempli.'
        return false
      }

      // Check the text of the post
      if (this.textPost === '' || this.textPost === '<br>') {
        this.errorModifyPost = true
        this.errorMessageModifyPost = 'Le texte n\'est pas rempli.'
        return false
      }

      // Modify the post
      axios
        .put(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts/modifyPost/' + this.idPost,
          {
            newTitle: this.titlePost,
            newText: this.textPost
          },
          {
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          if (response.data.message === 'OK') {
            alert('Le post a bien été modifié.') // Display an alert for the user

            // Modify the post on the view
            for (const [index, post] of this.posts.entries()) {
              if (post._id === this.idPost) {
                this.posts[index].title = this.titlePost
                this.posts[index].text = this.textPost
                this.posts[index].dateModification = response.data.modificationDate
              }
            }

            this.$refs.modifyPostModal.hide() // Close the modal after the creation of the new post
          }
        })
        .catch(error => {
          this.errorModifyPost = true

          // Display the different error messages
          if (error.message === 'Network Error') this.errorMessageModifyPost = 'Un problème est survenu. Veuillez réessayer plus tard.'
          if (error.response) {
            if (error.response.data.message === 'Not connected') this.errorMessageModifyPost = 'Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.'
            if (error.response.data.message === 'Invalid token') this.errorMessageModifyPost = 'Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.'
            if (error.response.data.message === 'Not the rights') this.errorMessageModifyPost = 'Vous n\'avez pas les droits pour modifier un post.'
            if (error.response.data.message === 'Account not activated') this.errorMessageModifyPost = 'Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.'
            if (error.response.data.message === 'Title not correct') this.errorMessageModifyPost = 'Le titre du post est incorrect.'
            if (error.response.data.message === 'Text not correct') this.errorMessageModifyPost = 'Le texte du post est incorrect.'
            if (error.response.data.message === 'ID incorrect') this.errorMessageModifyPost = 'L\'ID du post est incorrect. Veuillez recharger la page pour pouvoir réessayer.'
          }
        })
    },

    /**
    * Funciton used to delete a post
    * @param idPost => ID of the post to delete
    * @param titlePost => Title of the post to delete
    * @returns false if we have found a problem  OR  nothing if the user has cancelled his action
    */
    deleteThePost (idPost, titlePost) {
      var title = prompt('Veuillez entrer le titre du post pour pouvoir le supprimer :')

      if (title == null) return // Quit the function if the user has cancelled his action

      // Check if the title entered by the user is the same than the one he wants to delete
      if (titlePost !== title) return alert('Les deux titres sont différents. Donc aucune suppression ne se fera.')

      // Delete the post
      axios
        .delete(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts/deletePost/' + idPost,
          {
            data: {
              titlePost: titlePost
            },
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          if (response.data.message === 'OK') {
            alert('Le post a bien été supprimé.') // Display the message to say that the post has been deleted

            // Delete the post from the array
            for (const [index, post] of this.posts.entries()) {
              if (post._id === idPost) {
                this.posts.splice(index, 1)
                break
              }
            }
          }
        })
        .catch(error => {
          // Display the different error messages via alert
          if (error.message === 'Network Error') alert('Un problème est survenu. Veuillez réessayer plus tard.')
          if (error.response) {
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
            if (error.response.data.message === 'Not the rights') alert('Vous n\'avez pas les droits pour supprimer un post.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
            if (error.response.data.message === 'ID incorrect') alert('L\'ID du post est incorrect. Veuillez recharger la page pour pouvoir réessayer.')
          }
        })
    },

    /**
    * Function used to formate the date as we want
    * @param date => Date to format
    * @returns the date formated as we want
    */
    formateDate (date) {
      date = new Date(date) // Create a new date from the given one
      var day = (String(date.getDate()).length === 1) ? '0' + date.getDate() : date.getDate() // Get the date of the given one
      var month = (String(date.getMonth() + 1).length === 1) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1) // Get the month of the given date
      var year = date.getFullYear() // Get the year of the given date
      var hour = date.getHours() // Get the hours of the given date
      var minutes = (String(date.getMinutes()).length === 1) ? '0' + date.getMinutes() : date.getMinutes() // Get the minutes of the given date

      return day + '-' + month + '-' + year + ' à ' + hour + ':' + minutes
    }
  },

  components: { VueEditor }
}
</script>

<style scoped>
.rounded-perso{
  border-radius: 2rem;
  margin-left: 30%;
  margin-right: 30%;
}
.rounded-perso-for-modal {
border-radius: 2rem;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .bloc {
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .bloc {
    margin-right: 15%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 901px) {
  .bloc {
    margin-right: 25%;
    margin-left: 25%;
  }
}
@media only screen and (max-width: 510px) {
  .rounded-pill-perso {
    border-radius: 4rem;
  }

  .space-for-smartphones {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 511px) {
  .rounded-pill-perso {
    border-radius: 50rem
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.card-header {
  font-size: 24px;
  font-weight: 500;
}
</style>

<style>
/* Add some classes manually to make them works on the view because they don't work => Don't know why ... */
.ql-align-right {
  text-align: right !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-indent-1 {
  padding-left: 3em
}
.ql-indent-2 {
  padding-left: 6em
}
.ql-indent-3 {
  padding-left: 9em
}
.ql-indent-4 {
  padding-left: 12em
}
.ql-indent-5 {
  padding-left: 15em
}
.ql-indent-6 {
  padding-left: 18em
}
.ql-indent-7 {
  padding-left: 21em
}
.ql-indent-8 {
  padding-left: 24em
}
.ql-editor ul {
  padding-left: 1.5em
}
ul[data-checked=false]>li::before {
  content: '\2610';
  font-size: 1.35em;
}
ul[data-checked=true]>li::before {
  content: '\2611';
  font-size: 1.35em;
}
ul[data-checked=false]>li::before, ul[data-checked=true]>li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
ul[data-checked=false]>li, ul[data-checked=true]>li {
  list-style-type: none;
}
</style>
