<template>
  <div>
      <b-container>
          <b-row>
            <b-col>
              <h2>Visualisation des données de {{ upperCase($route.params.addr) }}</h2>
            </b-col>
          </b-row>

        <div v-if="errored">
            <section style="padding-top: 10px">
                <b-alert show variant="danger" class="rounded-perso">
                    <h4 class="alert-heading">Erreur ! </h4>
                    <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment.</p>
                    <hr>
                    <p class="mb-0">Veuillez réessayer ultérieurement.</p>
                </b-alert>
            </section>
        </div>

        <div v-else>
            <div v-if="loading"><img src="../assets/loading.gif" fluid alt="Chargement des données"/></div>
                <div v-else>
                  <div v-if="nbDatas !== 0">
                    <b-row>
                      <b-col cols="12" sm="12">
                        <b-button id="showModal" @click="showModal" pill variant="outline-success">Exporter les données de {{ upperCase($route.params.addr) }}</b-button>

                        <b-modal ref="downloadModal" title="Options de téléchargement">
                          <div class="d-block text-center">
                            <form v-on:submit.prevent>
                              <b-form-group id="group-without-duplicates">
                                <b-form-checkbox size="lg" v-model="withoutDuplicates" name="check-without-duplicates" switch>
                                  Sans doublons
                                </b-form-checkbox>
                              </b-form-group>

                              <b-form-group id="group-download-dates" label="Interval de temps">
                                <b-form-datepicker
                                  class="rounded-input"
                                  id="datepicker-download-first-date"
                                  placeholder="Début"
                                  v-model="downloadFirstDate" :min="dateMin" :max="dateMax"
                                  today-button
                                  label-today-button="Dernier envoi"
                                  reset-button
                                  label-reset-button="Réinitialiser"
                                  close-button
                                  label-close-button="Fermer"
                                  :start-weekday="1"
                                >
                                </b-form-datepicker>

                                <b-form-datepicker style="margin-top: 10px"
                                  class="rounded-input"
                                  id="datepicker-download-last-date"
                                  placeholder="Fin"
                                  v-model="downloadLastDate" :min="dateMin" :max="dateMax"
                                  today-button
                                  label-today-button="Dernier envoi"
                                  reset-button
                                  label-reset-button="Réinitialiser"
                                  close-button
                                  label-close-button="Fermer"
                                  :start-weekday="1"
                                >
                                </b-form-datepicker>
                              </b-form-group>
                            </form>
                          </div>

                          <template #modal-footer="{ cancel }">
                            <b-button pill variant="outline-danger" @click="cancel()">Annuler</b-button>
                            <b-button pill variant="outline-primary" @click="downloadDatas()">Télécharger</b-button>
                          </template>
                        </b-modal>
                      </b-col>
                    </b-row>

                    <div style="margin-top:20px; margin-bottom:40px">
                      <b-row class="add-margin-left">
                        <b-col cols="12" md="5">
                          <label for="datepicker-beginning">Date de début</label>
                          <b-form-datepicker
                            class="rounded-input"
                            id="datepicker-beginning"
                            placeholder="Début"
                            v-model="dateDebut" :min="dateMin" :max="dateMax"
                            today-button
                            label-today-button="Dernier envoi"
                            reset-button
                            label-reset-button="Réinitialiser"
                            close-button
                            label-close-button="Fermer"
                            :start-weekday="1"
                          >
                          </b-form-datepicker>
                        </b-col>

                        <b-col cols="12" md="5" class="select-dates-smartphones-tablets">
                          <label for="datepicker-ending">Date de fin</label>
                          <b-form-datepicker
                            class="rounded-input"
                            id="datepicker-ending"
                            placeholder="Fin"
                            v-model="dateFin" :min="dateMin" :max="dateMax"
                            today-button
                            label-today-button="Dernier envoi"
                            reset-button
                            label-reset-button="Réinitialiser"
                            close-button
                            label-close-button="Fermer"
                            :start-weekday="1"
                          >
                          </b-form-datepicker>
                        </b-col>

                        <b-col cols="12" md="2">
                          <b-button class="translateY-button" variant="outline-success" @click="getIntervalDate()" pill>Rechercher</b-button>
                        </b-col>
                      </b-row>
                    </div>

                    <fusioncharts
                        :type="chart.type"
                        :width="chart.width"
                        :height="chart.height"
                        :dataFormat="chart.dataFormat"
                        :dataSource="chart.dataSource"
                    ></fusioncharts>

                    <div class="card text-center" style="margin-top:2rem; margin-bottom: 2rem">
                        <h3 class="card-header">Toutes les données</h3>
                        <div class="card-body">
                            <b-list-group>
                                <b-list-group-item v-for="item in pageOfItems" :key="item.id">{{item.name}}</b-list-group-item>
                            </b-list-group>
                        </div>
                        <div class="card-footer pb-0 pt-3">
                          <jw-pagination :items="datasItem" @changePage="onChangePage" :labels="customLabels"></jw-pagination>
                        </div>
                    </div>
                </div>

                <div v-else>
                    <b-alert show variant="warning" class="rounded-perso">
                        <h4 class="alert-heading">Petit Problème !</h4>
                        <p>
                            Aucune donnée n'est enregistrée pour ce microcontrôleur.
                        </p>
                        <hr>
                        <p class="mb-0">
                            Au minimum une donnée doit être présente pour pouvoir afficher le graphique contenant les données.
                        </p>
                    </b-alert>
                </div>
            </div>
        </div>
      </b-container>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueFusionCharts from 'vue-fusioncharts' // https://www.fusioncharts.com/charts/line-area-charts/line-chart-with-multiple-series?framework=vue
import FusionCharts from 'fusioncharts' // https://www.fusioncharts.com/dev/chart-guide/standard-charts/line-area-and-column-charts
import Column2D from 'fusioncharts/fusioncharts.charts'
import FusionTheme from 'fusioncharts/themes/fusioncharts.theme.fusion'
import JwPagination from 'jw-vue-pagination' // https://jasonwatmore.com/post/2019/08/21/vue-js-simple-pagination-example
import getInfosServer from '../config/getURLNode'

Vue.component('jw-pagination', JwPagination)
Vue.use(VueFusionCharts, FusionCharts, Column2D, FusionTheme) // Import Vue and all for displaying the graph

export default {
  name: 'ShowDatas',

  // Define the variables for the view
  data () {
    return {
      datas: [],
      datasItem: [],
      nbDatas: 0,
      loading: true,
      errored: false,
      dateDebut: '',
      oldDateDebut: '',
      dateFin: '',
      oldDateFin: '',
      dateMin: null,
      dateMax: null,
      chart: {
        type: 'msline',
        width: '95%',
        height: '600',
        dataFormat: 'json',
        dataSource: {
          chart: {
            caption: 'Données collectées par le microcontrôleur ' + this.upperCase(this.$route.params.addr),
            yaxisname: 'PH ; Humidité % ; Température °C ; Conductivité us/cm ; Azote - Phosphore - Potassium mg/kg',
            showhovereffect: '1',
            numbersuffix: '',
            drawcrossline: '1',
            plottooltext: '$seriesName : <b>$dataValue</b>',
            theme: 'fusion'
          },
          categories: [{
            category: []
          }],
          dataset: []
        }
      },
      pageOfItems: [],
      customLabels: {first: 'Début', last: 'Fin', next: 'Suivant', previous: 'Précédent'},
      withoutDuplicates: false,
      downloadFirstDate: '',
      downloadLastDate: ''
    }
  },

  // HTTP request, at the loading of the page, to get all the datas for a microcontroller
  mounted () {
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/datas/byAddr/' + this.$route.params.addr,
        {
          headers: {
            Authorization: this.$auth.user.session_ID
          }
        }
      )
      .then(response => {
        this.datas = response.data // Get the datas
        this.nbDatas = this.datas.length // Get the length of the datas

        if (response.data.length === 0) return // Quit the function if the length is equals to 0 => Pass after will crash and go into catch (Not that we want)

        this.putCategory(this.datas) // Put the category for fusioncharts
        this.putValues(this.datas) // Put the values for fusioncharts and pagination list
        this.getMaxAndMinDate() // Get the maximum and minimum values
      })
      .catch(error => {
        this.errored = true

        // Alert the user concerning the error if we have a session ID problem
        if (error.response) {
          if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
          if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
          if (error.response.data.error === 'Addr invalid') alert('L\'adresse du microcontrôleur est invalide.')
          if (error.response.data.error === 'The microcontroller doesn\'t exist') alert('Le microcontrôleur n\'existe pas.')
        }
      })
      .finally(() => (this.loading = false))
  },

  methods: {
    /**
    * Function used to display the modal on the screen to be able to select the downloading options
    */
    showModal () {
      this.$refs.downloadModal.show() // Function to display the modal
    },

    /**
    * Function to be able to make an HTTP request with the downloading options selected by the user
    * To be able to download a file that will contain all the datas according to the selected options
    */
    downloadDatas () {
      // Transform the string into date
      var downloadFirstDate = new Date(this.downloadFirstDate)
      var downloadLastDate = new Date(this.downloadLastDate)

      // Check if the first date is less than the last date
      if (!isNaN(downloadFirstDate.getTime()) && !isNaN(downloadLastDate.getTime())) {
        if (downloadFirstDate.getTime() > downloadLastDate.getTime()) {
          return alert('La date de début est supérieure à la date de fin !!') // Alert error and quit the function
        }
      }

      // HTTP request
      axios
        .get(
          getInfosServer().getURL() + getInfosServer().getPort() + '/api/download/microcontrollerDatas/' + this.$route.params.addr,
          {
            method: 'GET',
            responseType: 'blob',
            params: {
              options: [
                {
                  withoutDuplicates: this.withoutDuplicates,
                  firstDate: this.downloadFirstDate,
                  lastDate: this.downloadLastDate
                }
              ]
            },
            headers: {
              Authorization: this.$auth.user.session_ID,
              CSRFToken: this.$auth.user.csrfToken
            }
          }
        )
        .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data])) // Create the object that contains microcontroller's datas
          var fileLink = document.createElement('a') // Create a link to download the file
          fileLink.href = fileURL // Put the URL to the link
          fileLink.setAttribute('download', 'datas_' + this.upperCase(this.$route.params.addr) + '.csv') // Set the name of the file
          document.body.appendChild(fileLink) // Add the link to the DOM
          fileLink.click() // Force the click on the link to download the file
          fileLink.remove() // Remove the HTML element we have created

          this.$refs.downloadModal.hide() // Close the modal when we have downlaod the file
        })
        .catch(error => {
          // Alert the user concerning the error if the error is one that we know
          if (error.response) {
            if (error.response.data.message === 'Not connected') alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
            if (error.response.data.message === 'Invalid token') alert('Votre jeton CSRF a expiré. Veuillez recharger la page via Ctrl+R ou F5 ou le bouton de rechargment du navigateur.')
            if (error.response.data.message === 'Unable to parse the JSON') alert('Un problème est apparu avec le fichier JSON. Veuillez essayer de recharger la page et de réessayer.')
          }
        })
    },

    /**
    * Function used to put in upper case the parameter
    * @param data => Data to put in upper case
    * @returns the data in the upper case format
    */
    upperCase (data) {
      return data.toUpperCase()
    },

    /**
    * Function used to format the values got from the HTTP request
    *   in a good format to display them with fusioncharts
    * It is used to format the datas to dispay them in the pagination list too
    * @param datas => Datas to process
    */
    putValues (datas) {
      var ph = { seriesname: 'PH', data: [] } // PH for fusioncharts
      var humidity = { seriesname: 'Taux d\'humidité', data: [] } // Humidity for fusioncharts
      var temperatures = { seriesname: 'Température', data: [] } // Temperature for fusioncharts
      var conductivity = { seriesname: 'Conductivité', data: [] } // Conductivity for fusioncharts
      var nitrogen = { seriesname: 'Azote', data: [] } // Nitrogen for fusioncharts
      var phosphorus = { seriesname: 'Phosphore', data: [] } // Phosphorus for fusioncharts
      var potassium = { seriesname: 'Potassium', data: [] } // Potassium for fusioncharts

      // Put each ph, humidity, temperature, conductivity, nitrogen, phosphorus and potassium in the seriesname associated + Push a formated string for pagination list
      for (const [index, val] of datas.entries()) {
        ph.data.push({ 'value': val.ph })
        humidity.data.push({ 'value': val.humidity })
        temperatures.data.push({ 'value': val.temperature })
        conductivity.data.push({ 'value': val.conductivity })
        nitrogen.data.push({ 'value': val.nitrogen })
        phosphorus.data.push({ 'value': val.phosphorus })
        potassium.data.push({ 'value': val.potassium })

        this.datasItem.push({
          id: index + 1,
          name: 'PH : ' + val.ph + ' ; Humidité : ' + val.humidity + ' % ; Température : ' + val.temperature + ' °C ; ' + 'Conductivité : ' + val.conductivity + ' us/cm ; Azote : ' + val.nitrogen + ' mg/kg ; Phosphore : ' + val.phosphorus + ' mg/kg ; Potassium : ' + val.potassium + ' mg/kg --- Ajoutée le ' + this.formateDate(val.dateAdded)
        })
      }

      this.chart.dataSource.dataset.push(ph) // Dataset to display for ph
      this.chart.dataSource.dataset.push(humidity) // Dataset to display for humidity
      this.chart.dataSource.dataset.push(temperatures) // Dataset to display for temperature
      this.chart.dataSource.dataset.push(conductivity) // Dataset to display for conductivity
      this.chart.dataSource.dataset.push(nitrogen) // Dataset to display for nitrogen
      this.chart.dataSource.dataset.push(phosphorus) // Dataset to display for phosphorus
      this.chart.dataSource.dataset.push(potassium) // Dataset to display for potassium
    },

    /**
    * Function used to put the category we can select on the graph
    * @param datas => Datas to process
    */
    putCategory (datas) {
      for (const val of datas) {
        this.chart.dataSource.categories[0].category.push({
          'label': this.formateDate(val.dateAdded)
        })
      }
    },

    /**
    * Function used to format well the date
    * @param date => Date to format
    */
    formateDate (date) {
      var myDate = new Date(date)
      var month = (myDate.getUTCMonth() + 1) < 10 ? '0' + (myDate.getUTCMonth() + 1) : (myDate.getUTCMonth() + 1)
      var day = myDate.getUTCDate()
      var year = myDate.getUTCFullYear()
      var hour = myDate.getHours()
      var minutes = myDate.getMinutes() < 10 ? '0' + myDate.getMinutes() : myDate.getMinutes()

      return day + '-' + month + '-' + year + ' ' + hour + ':' + minutes
    },

    /**
    * Function used when we change the page in the pagination list
    * @param pageOfItems => Actual page of items displayed in the pagination list
    */
    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems
    },

    /**
    * Function used to display the minimum and maximum date in the datePicker
    * Minimum date : First date of the array
    * Maximum date : Last date of the array
    *  => Because the array is sorted
    */
    getMaxAndMinDate () {
      var minDate = new Date(this.datas[0].dateAdded) // Get min date to format in datePicker
      var maxDate = new Date(this.datas[this.nbDatas - 1].dateAdded) // Get max date to format in datePicker

      this.dateMin = new Date(minDate.getFullYear(), minDate.getMonth(), minDate.getDate()) // Min date to display in the datePicker
      this.dateMax = new Date(maxDate.getFullYear(), maxDate.getMonth(), maxDate.getDate()) // Max date to diplay in the datePicker
    },

    /**
    * Function use to retrieve the datas between two dates and display them in the graphic and pagination
    * @returns when we have an error
    */
    getIntervalDate () {
      // Test if the old first and last date are equals to the ones in the input
      if (this.dateDebut === this.oldDateDebut && this.dateFin === this.oldDateFin) return // If this is the case => Quit the function

      // Set the old first and last date with the date entered in the input
      this.oldDateDebut = this.dateDebut
      this.oldDateFin = this.dateFin

      // Definition of the dates for the future processing
      var firstDate = new Date(this.dateDebut) // Define the first date
      var lastDate = new Date(this.dateFin) // Define the last date

      // Check if first date is less than last date (IF THE TWO DATES ARE DEFINED)
      if (!isNaN(firstDate.getTime()) && !isNaN(lastDate.getTime())) {
        if (firstDate.getTime() > lastDate.getTime()) {
          return alert('La date de début est supérieure à la date de fin !!') // Alert error and quit the function
        }
      }

      // Set the firstDate and lastDate to null if Invalid Date error
      if (isNaN(firstDate.getTime())) firstDate = this.datas[0].dateAdded
      if (isNaN(lastDate.getTime())) lastDate = this.datas[this.nbDatas - 1].dateAdded

      // Get the datas from the server
      axios
        .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/datas/datasFromInterval/' + this.$route.params.addr,
          {
            params: {
              firstDate: firstDate,
              lastDate: lastDate
            },
            headers: {
              Authorization: this.$auth.user.session_ID
            }
          }
        )
        .then(datas => {
          // Reset the datas item for pagination list
          this.datasItem = []

          // Reset the categories of the chart
          this.chart.dataSource.categories[0].category = []

          // Reset all the datasets of the chart
          for (var i = 0; i < this.chart.dataSource.dataset.length; i++) {
            this.chart.dataSource.dataset[i] = []
          }

          this.putValues(datas.data) // Put the values got from the server into the graph
          this.putCategory(datas.data) // Put the categories we can select under the graph
        })
        .catch(error => {
          this.errored = true

          // Display the error message if we have one
          if (error.response) {
            if (error.response.data.message === 'Not connected') return alert('Votre ID de session a expiré. Veuillez recharger la page via Ctrl+R (cmd+R sous MacOS) ou F5 ou le bouton de rechargement du navigateur.')
            if (error.response.data.message === 'Account not activated') alert('Votre compte n\'est pas activé. Vous ne pouvez donc pas accéder à la ressource souhaitée.')
          }
        })
    }
  }
}
</script>

<style scoped>
.rounded-perso{
  border-radius: 2rem;
}
.rounded-input {
  border-radius: 1rem;
  text-align: center;
}
@media only screen and (min-width: 511px) {
  .add-margin-left {
    margin-left: 1%;
  }
}
.list-group-item {
  font-size: 13px;
}
@media only screen and (max-width: 767px) {
  .select-dates-smartphones-tablets {
    margin-top: 10px;
  }

  .translateY-button {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 767px) {
  .translateY-button {
    transform:translateY(85%)
  }
}
</style>

<style>
.card-footer {
  font-size: 12px !important;
}
.card {
  border-radius: 2rem !important;
  overflow: hidden !important;
}
li.first>a {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}
li.last>a {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
</style>
