<template>
  <div id="verify-account">
    <b-container>
      <h3>Activation de votre compte</h3>

      <b-alert show variant="danger" class="rounded-perso alert-danger-margin-perso" v-if="activationProblem">
        <h4 class="alert-heading">Erreur ! </h4>
        <p>{{ messageProblem }}</p>
        <hr>
        <p class="mb-0">{{ underMessageProblem }}</p>
      </b-alert>

      <b-alert show variant="success" class="rounded-perso alert-success-margin-perso" v-if="activationSucess">
        <h4 class="alert-heading">OK</h4>
        <p>Votre compte a bien été activé.</p>
        <hr>
        <p class="mb-0">Vous pouvez désormais vous connecter.</p>
      </b-alert>
    </b-container>
  </div>
</template>

<script>
export default {

  // Datas to use in the view
  data () {
    return {
      activationSucess: false,
      activationProblem: false,
      messageProblem: '',
      underMessageProblem: ''
    }
  },

  /**
  * Function executed at the creation of the hook
  *  => Verify if the user is connected or not => If connected => Return to the home ; else validate the account
  */
  created () {
    if (this.$auth.user !== null) this.$router.push('/') // If a user is connected => Return him to the home
  },

  /**
   * HTTP request to validate the account of the user by the token present in the parameter of the route
  * @returns nothing to quit the function if the user is connected
  */
  mounted () {
    if (this.$auth.user !== null) return // Quit the function if the user is connected

    // If the user is not connected => Make the request to activate the account of the user
    var tokenActivation = this.$route.params.token // Get the token to activate the account

    // Make the HTTP request to activate the account of the user
    this.$auth.activateUserAccount(tokenActivation).then(result => {
      if (result === 1) this.activationSucess = true // The account has been activated

      // Problem during the request
      else {
        // Test if the result is no user error
        if (result === 'No user') {
          this.messageProblem = 'Aucun utilisateur n\'a été trouvé.'
          this.underMessageProblem = 'Veuillez créer un compte si vous n\'en avez pas déjà un.'
          this.activationProblem = true
          return
        }

        // Test if the result if not an uuid error
        if (result === 'Not an UUID') {
          this.messageProblem = 'Le jeton d\'activation est incorrect.'
          this.underMessageProblem = 'Veuillez créer un compte si vous n\'en avez pas déjà un.'
          this.activationProblem = true
          return
        }

        // If it is another problem
        this.messageProblem = 'Nous sommes désolés, un problème est survenu durant l\'activation de votre compte.'
        this.underMessageProblem = 'Veuillez réessayer ultérieurement.'
        this.activationProblem = true
      }
    })
  }
}
</script>

<style scoped>
.rounded-perso {
  border-radius: 2rem;
  margin-top: 20px;
}
.alert-danger-margin-perso {
  margin-left: 10%;
  margin-right: 10%;
}
.alert-success-margin-perso {
  margin-left: 15%;
  margin-right: 15%;
}
</style>
