<template>
  <div>
    <div id="sidebar" style="text-align:center">
      <b-button pill v-b-toggle.sidebar-no-header>Menu</b-button>
      <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header backdrop shadow>
        <template #default="{ hide }">
          <div class="p-3">
            <h4 id="sidebar-no-header-title">
              <router-link :to="{ path: '/' }">Écopolis</router-link>
            </h4>
            <p>
              {{ $t('appVue.presentation') }}
            </p>
            <nav class="mb-3 emplacement-links">
              <b-nav vertical>
                <b-nav-item>
                  <router-link :to="{ path: '/' }">
                    {{ $t('appVue.linkHome') }}
                  </router-link>
                </b-nav-item>

                <b-nav-item>
                  <router-link :to="{ path: '/posts' }">
                    {{ $t('appVue.linkPosts') }}
                  </router-link>
                </b-nav-item>

                <b-nav-item>
                  <router-link :to="{ path: '/last-activities' }">
                    {{ $t('appVue.linkLastActivities') }}
                  </router-link>
                </b-nav-item>
              </b-nav>
            </nav>

            <div style="position:fixed; bottom:10px;left:5%;width:90%">
              <b-button style="margin:10px;" pill :variant="chooseVariant(entry)" :id="entry.flag" v-for="entry in languages" :key="entry.title" @click="changeLocale(entry.language)">
                <flag :iso="entry.flag" v-bind:squared=false /> {{entry.title}}
              </b-button>

              <b-button pill variant="danger" style="" block @click="hide">
                {{ $t('appVue.closeMenu') }}
              </b-button>
            </div>
          </div>
        </template>
      </b-sidebar>
    </div>

    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
import i18n from '@/plugins/Translation/i18n'

export default {
  name: 'App',

  // Datas
  data () {
    return {
      languages: [ { flag: 'fr', language: 'fr', title: 'Français' }, { flag: 'gb', language: 'en', title: 'English' } ]
    }
  },

  methods: {
    /**
    * Function used to change the actual language used by the user
    * @param locale => New language selected by the user
    */
    changeLocale (locale) {
      i18n.locale = locale
    },

    /**
    * Function used to choose the variant to apply to the languages button
    * We also enable or disable the buttons according to the selected language
    * @param entry => Language (contains flag, title and language)
    * @return the class of the button
    */
    chooseVariant (entry) {
      var buttonToDisable = document.getElementById(entry.flag) // Select the button we will disable => Already display the good language

      // Variant for selected langugae + Disable the actual language button
      if (entry.language === i18n.locale) {
        if (buttonToDisable) buttonToDisable.disabled = true // Disable the actual language button
        return 'success' // Return the class for actual language

      // Variant for non selected language + Enable the non selected language
      } else {
        if (buttonToDisable) buttonToDisable.disabled = false // Enable the language button
        return 'outline-secondary' // Return the class to select the new language
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}

#sidebar {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}
@media only screen and (max-height: 600px) {
  .emplacement-links {
    transform:translateY(0%)
  }
}
@media only screen and (min-height: 601px) {
  .emplacement-links {
    transform:translateY(50%)
  }
}
</style>
