<template>
  <div>
    <div id="sidebar" style="text-align:center">
      <b-button pill v-b-toggle.sidebar-no-header>Menu</b-button>
      <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header backdrop shadow>
        <template #default="{ hide }">
          <div class="p-3">
            <h4 id="sidebar-no-header-title">
              <router-link :to="{ path: '/' }">Écopolis</router-link>
            </h4>
            <p>
              Le projet Écopolis a pour objectif général la restauration d'une friche industrielle en milieu urbain.
              Cette application permet de visualiser les données ainsi que d'ajouter, modifier et supprimer des microcontrôleurs.
            </p>
            <nav class="mb-3 emplacement-links">
              <b-nav vertical>
                <b-nav-item>
                  <router-link :to="{ path: '/' }">Accueil</router-link>
                </b-nav-item>

                <b-nav-item>
                  <router-link :to="{ path: '/microcontrollers' }">
                    Microcontrôleurs
                  </router-link>
                </b-nav-item>

                <b-nav-item v-if="$auth.user.role === 'admin'">
                  <router-link :to="{ path: '/dashboard' }">
                    Tableau de bord
                  </router-link>
                </b-nav-item>

                <b-nav-item v-if="$auth.user.role === 'admin'">
                  <router-link :to="{ path: '/posts' }">
                    Posts
                  </router-link>
                </b-nav-item>
              </b-nav>
            </nav>

            <div v-if="$auth.user" style="position:fixed; bottom:10px;left:5%;width:90%">
              <p style="text-align:center"><small>Connecté en tant que {{ $auth.user.email }}</small></p>
              <b-button pill variant="primary" block @click="goToMyAccount">Mon compte</b-button>
              <b-button pill variant="danger" block @click="logout">Se déconnecter</b-button>
              <b-button pill variant="outline-info" style="font-size:smaller" block @click="hide">Fermer le menu</b-button>
            </div>
          </div>
        </template>
      </b-sidebar>
    </div>

    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from './config/getURLNode'
import getAPIKey from './config/getAPIKey'
export default {
  name: 'App',

  // Datas
  data () {
    return {
    }
  },

  methods: {
    /**
    * Function to logout the user and to reset the session ID to ''
    */
    logout () {
      axios.post(getInfosServer().getURL() + getInfosServer().getPort() + '/api/user/logout', null,
        {
          headers: {
            Authorization: this.$auth.user.authenticationToken,
            apikey: getAPIKey().getKey()
          }
        }
      )
        .then(() => {
          this.$auth.logout() // Delete the elements in the cookies
          this.reinitUser() // Reinitilization of the props variable
        })
        .catch(error => console.log(error))
    },

    /**
    * Function used to reinit the prop user passed by the parent view
    */
    reinitUser () {
      this.$emit('reinitUser')
    },

    /**
    * Function used to redirect the user on the route to modify his connection values
    * We make that to not crash the CSS => Router-Link render different than a classical button in CSS
    */
    goToMyAccount () {
      if (this.$route.name !== 'MyAccount') this.$router.push('/my-account')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}

#sidebar {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
}
@media only screen and (max-height: 600px) {
  .emplacement-links {
    transform:translateY(0%)
  }
}
@media only screen and (min-height: 601px) {
  .emplacement-links {
    transform:translateY(50%)
  }
}
</style>
