<template>
  <div>
    <h1 style="margin-bottom:1rem;margin-left:20px;margin-right:20px">{{ $t('home.welcomeMsg') }}</h1>

    <b-carousel id="carousel-1" v-model="slide" :interval="4000" controls indicators background="#ffffff"
      img-width="80%" img-height="480" @sliding-start="onSlideStart" @sliding-end="onSlideEnd" class="my-carousel">

      <b-carousel-slide v-for="slide in bCarouselSlide" v-bind:key="slide.id">
        <template #img>
          <div>
            <img class= "img-fluid img-for-large-screen" :src="slide.imgSrc" :alt="$t('imgTrad.' + slide.altText)" />
            <br/>
            <span style="font-size:12px" class="text-muted">{{ $t('imgTrad.' + slide.text) }}</span>
          </div>

        </template>
      </b-carousel-slide>
    </b-carousel>

      <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4 space-for-smartphones">
            <img class="rounded-circle" src="/static/agronomy.jpg" alt="Agronomy image" width="140" height="140">
            <h2 class="h2-title">
              {{ $t('home.agronomy') }}
            </h2>
            <p>
              {{ $t('home.agronomyText') }}
            </p>

            <b-button pill variant="outline-primary" @click="goTo('agronomie')">{{ $t('home.details') }}</b-button>
          </div>

          <div class="col-lg-4 space-for-smartphones">
            <img class="rounded-circle" src="/static/ecologie.jpg" alt="Ecology image" width="140" height="140">
            <h2 class="h2-title">
              {{ $t('home.ecoSciences') }}
            </h2>
            <p>
              {{ $t('home.ecoSciencesText') }}
            </p>

            <b-button pill variant="outline-primary" @click="goTo('ecologie')">{{ $t('home.details') }}</b-button>
          </div>

          <div class="col-lg-4 space-for-smartphones">
            <img class="rounded-circle" style="background:black" src="/static/ingenieur.png" alt="Engineer image" width="140" height="140">
            <h2 class="h2-title">
              {{ $t('home.engineerSciences') }}
            </h2>
            <p>
              {{ $t('home.engineerSciencesText') }}
            </p>

            <b-button pill variant="outline-primary" @click="goTo('ingenieur')">{{ $t('home.details') }}</b-button>
          </div>
        </div>

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider" ref="agronomie">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ $t('home.agronomy') }} - <span class="text-muted">{{ $t('home.defAndApp') }}</span></h2>

            <h4 class="my-h4 text-muted">{{ $t('home.def') }}</h4>
            <p class="lead">
              {{ $t('home.defAgro') }}
            </p>

            <h4 class="my-h4 text-muted">{{ $t('home.app') }}</h4>
            <p class="lead">
              {{ $t('home.appAgro') }}
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto translate-for-tablets" data-src="holder.js/500x500/auto" alt="500x500" src="/static/ortie_agronomie.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider" ref="ecologie">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{ $t('home.phytomanagement') }} - <span class="text-muted">{{ $t('home.pythoWhatIsIt') }}</span></h2>
            <p class="lead">{{ $t('home.phytoObjectives') }}</p>
            <p class="lead">{{ $t('home.phytoPresentation') }}</p>
            <p class="lead">
              {{ $t('home.phytoTechniques') }}
              <ul class="list-group list-group-flush">
                <li class="list-group-item li-text li-cursor" v-b-tooltip.click.v-info.left :title="$t('home.phytostabText')">{{ $t('home.phytostabilization') }}</li>
                <li class="list-group-item li-text li-cursor" v-b-tooltip.click.v-info.left :title="$t('home.phytoextractText')">{{ $t('home.phytoextraction') }}</li>
                <li class="list-group-item li-text li-cursor" v-b-tooltip.click.v-info.left :title="$t('home.phytodegradText')">{{ $t('home.phytodegradation') }}</li>
              </ul>
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto translate-for-tablets" data-src="holder.js/500x500/auto" alt="500x500" src="/static/phytomanagement.jpeg" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider" ref="ingenieur">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ $t('home.engineerSciences') }} - <span class="text-muted">{{ $t('home.whatJobs') }}</span></h2>
            <p class="lead">
              {{ $t('home.group') }}

              <ul class="list-group list-group-flush" style="margin-bottom: 10px">
                <li class="list-group-item">
                  <span name="title-li" class="li-text">{{ $t('home.soilEngineering') }}</span> <br/>
                  <span name="explanations-li" class="li-explanations">
                    {{ $t('home.soilEngineeringText') }}
                  </span>
                </li>

                <li class="list-group-item">
                  <span name="title-li" class="li-text">{{ $t('home.ecologicalEngineering') }}</span> <br/>
                  <span name="explanations-li" class="li-explanations">
                    {{ $t('home.ecologicalEngineeringText') }}
                  </span>
                </li>

                <li class="list-group-item">
                  <span name="title-li" class="li-text">{{ $t('home.processEngineering') }}</span> <br/>
                  <span name="explanations-li" class="li-explanations">
                    {{ $t('home.processEngineeringText') }}
                  </span>
                </li>

                <li class="list-group-item">
                  <span name="title-li" class="li-text">{{ $t('home.itEngineering') }}</span> <br/>
                  <span name="explanations-li" class="li-explanations">
                    {{ $t('home.itEngineeringText') }}
                  </span>
                </li>
              </ul>

              {{ $t('home.projectFinality') }}
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto translate-for-tablets" data-src="holder.js/500x500/auto" alt="500x500" src="/static/sciences_ingenieur.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

        <footer class="container">
          <p>© 2021 Écopolis</p>
        </footer>

      </div>
  </div>
</template>

<script>
import EasyScroll from 'easy-scroll'
import Carousel from '../assets/carousel.json'

export default {
  name: 'Home',
  data () {
    return {
      slide: 0,
      sliding: null,
      bCarouselSlide: []
    }
  },

  /**
  * Function executed at the creation of the hook to get all the possible informations to display in the carousel
  */
  created () {
    this.bCarouselSlide = Carousel
  },

  methods: {
    /**
    * Function to start the automatic slide
    * @param slide => Number of the slide displayed in the carousel
    */
    onSlideStart (slide) {
      this.sliding = true
    },

    /**
    * Function to stop the automatic slide
    * @param slide => Number of the slide displayed in the carousel
    */
    onSlideEnd (slide) {
      this.sliding = false
    },

    /**
    * Function to be able to scroll in the window to access to informations by just clicking on one button
    */
    goTo (refName) {
      var element = this.$refs[refName] // Get the reference of the name in the DOM
      var offsetToTop = element.offsetTop // Get the offset from the top

      // Launch the scroll animation
      EasyScroll({
        'scrollableDomEle': window,
        'direction': 'bottom',
        'duration': 1000,
        'easingPreset': 'easeInQuad',
        'scrollAmount': offsetToTop - window.scrollY
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
@media only screen and (max-width: 510px) {
  .my-carousel {
    width: 75%;
    margin: auto;
    margin-bottom: 40px !important;
  }
}
@media only screen and (min-width: 510px) {
  .my-carousel {
    width: 80%;
    margin: auto;
    margin-bottom: 40px !important;
  }
}
.carousel-inner img {
  margin: auto;
}
.h2-title {
  margin-top: 10px;
}
.li-text {
  color: cornflowerblue;
  font-weight: 500;
}
.li-explanations {
  font-size: 14px
}
.li-cursor {
  cursor: pointer;
}
.my-h4 {
  font-weight: 400;
  margin-top: 2rem;
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .img-for-large-screen {
    height: 360px !important;
    width: 80% !important;
  }
}
@media only screen and (min-width: 800px) {
  .img-for-large-screen {
    height: 480px !important;
    width: 80% !important;
  }
}
@media only screen and (max-width: 850px) {
  .space-for-smartphones {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 765px) and (max-width: 991px) {
  .translate-for-tablets {
    transform: translateY(25%);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .translate-for-tablets {
    transform: translateY(7%);
  }
}
</style>

<style>
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: grey;
}
</style>
