<template>
  <div>
  <b-container style="margin-bottom: 20px">

    <b-row style="margin-bottom: 10px">
      <b-col>
        <h2>{{ $t('activities.lastActivities') }}</h2>
      </b-col>
    </b-row>

    <b-row style="margin-bottom: 20px">
      <b-col>
        <b-button pill variant="outline-secondary" v-b-modal.modal-lg>{{ $t('activities.positions') }}</b-button>
          <b-modal @shown="showPositionModal" id="modal-lg" size="lg" :title="$t('activities.positions')" hide-footer>
            <div class="map">
              <l-map :center="center" :zoom="zoom" ref="map" @update:zoom="zoomUpdated" @update:center="centerUpdated">
                    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

                    <l-marker v-for="marker in markers" :key="marker.id" :lat-lng="marker.coordinates">
                      <l-tooltip :content="toUpperCase(marker.addr)"/>
                    </l-marker>
              </l-map>
            </div>
          </b-modal>
      </b-col>
    </b-row>

    <b-alert show variant="danger" class="rounded-perso" v-if="errored">
      <h4 class="alert-heading">{{ $t('errors.errorTitle') }}</h4>
      <p>
        {{ $t('errors.errorExplanationPart1') }}
      </p>
      <hr>
      <p class="mb-0">
        {{ $t('errors.errorExplanationPart2') }}
      </p>
    </b-alert>

    <b-alert show variant="warning" class="rounded-perso" v-if="microcontrollers.length === 0 && errored === false && loading === false">
      <h4 class="alert-heading">{{ $t('warning.warningTitle') }}</h4>
      <p>
       {{ $t('warning.wariningLastActivities1') }}
      </p>
      <hr>
      <p class="mb-0">
        {{ $t('warning.wariningLastActivities2') }}
      </p>
    </b-alert>

    <transition name="fade">
      <div class="bloc" v-if="loading === false && microcontrollers.length !== 0">
        <ul v-for='microcontroller in microcontrollers' :key=microcontroller._id style="padding-top: 10px;padding-left:0" class="rounded-pill-perso">
          <li class="list-group-item">
            <strong>{{ $t('activities.microcontroller') }} {{ toUpperCase(microcontroller.addr) }}</strong> <br/>
            <span>{{ $t('activities.wakingHours') }}  <span v-html="formateSleepTimes(microcontroller.sleepTime)"></span> <br/></span> <br/>

            <b-button pill variant="outline-primary" @click="showLastDatasModal(microcontroller.addr)">{{ $t('activities.seeDatas') }}</b-button>
          </li>
        </ul>

        <b-modal ref="showLastDatas" size="lg" hide-footer :title="$t('activities.lastAddedDatas')">
          <div class="d-block text-center">
            <fusioncharts :type="chart.type" :width="chart.width"
              :height="chart.height" :dataFormat="chart.dataFormat" :dataSource="chart.dataSource"></fusioncharts>
          </div>
        </b-modal>
      </div>
    </transition>

  </b-container>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import getAPIKey from '../config/getAPIKey'
import VueFusionCharts from 'vue-fusioncharts' // https://www.fusioncharts.com/charts/line-area-charts/line-chart-with-multiple-series?framework=vue
import FusionCharts from 'fusioncharts' // https://www.fusioncharts.com/dev/chart-guide/standard-charts/line-area-and-column-charts
import Column2D from 'fusioncharts/fusioncharts.charts'
import FusionTheme from 'fusioncharts/themes/fusioncharts.theme.fusion'
import { LMap, LTileLayer, LMarker, LIcon, LTooltip } from 'vue2-leaflet'
import 'leaflet/dist/leaflet.css'

// ////////////////////////////! DO NOT DELETE THESE LINES //////////////////////////////
// eslint-disable-next-line
delete L.Icon.Default.prototype._getIconUrl
// eslint-disable-next-line
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})
// ////////////////////////////! END ////////////////////////////////////////////////////

Vue.use(VueFusionCharts, FusionCharts, Column2D, FusionTheme) // Import Vue and all for displaying the graph

export default {
  name: 'LastActivities',

  data () {
    return {
      microcontrollers: [],
      datas: [],
      errored: false,
      loading: true,
      chart: {
        type: 'msline',
        width: '95%',
        height: '600',
        dataFormat: 'json',
        dataSource: {
          chart: {
            caption: '',
            yaxisname: '',
            showhovereffect: '1',
            numbersuffix: '',
            drawcrossline: '1',
            plottooltext: '$seriesName : <b>$dataValue</b>',
            theme: 'fusion'
          },
          categories: [{
            category: []
          }],
          dataset: []
        }
      },
      markers: [],
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      center: [ 47.6333, 6.8667 ],
      zoom: 12
    }
  },

  /**
  * Function used to be able to make the HTTP request to get the last datas sent during the last 24 hours
  */
  mounted () {
    // HTTP request
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/microcontroller/lessInfos/forShowcase',
        {
          headers: {
            apikey: getAPIKey().getKey()
          }
        }
      )
      .then(response => {
        this.microcontrollers = response.data
        this.setMarkers() // Set the markers for the map
      })
      .catch(error => {
        this.errored = true

        // Alert the user if the API key is not correct
        if (error.response) {
          if (error.response.data.message === 'APIKey incorrect') alert(this.$t('errors.apikey'))
        }
      })
      .finally(() => {
        this.loading = false
      })
  },

  methods: {
    /**
    * Function used to invalidate the size of the map to reload the map size calculation
    */
    showPositionModal () {
      this.$refs.map.mapObject.invalidateSize()
    },

    /**
    * Show the modal with a graph to display the 50 last datas saved by the microcontroller passed in parameter
    * @param addr => Addr of the microcontroller to display the datas
    */
    showLastDatasModal (addr) {
      // Reset the values of the chart
      this.chart.dataSource.dataset = [] // Reset the datas themselves
      this.chart.dataSource.categories[0].category = [] // Reset the categories of the datas

      // Set the title of the chart according to the language selected
      this.chart.dataSource.chart.caption = this.$t('activities.graphTitle') + this.toUpperCase(addr)

      // Set the Y Axis of the graph
      this.chart.dataSource.chart.yaxisname = this.$t('activities.yaxis')

      // HTTP request to get the 50 last datas of a microcontroller
      axios
        .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/datas/lastForShowCase',
          {
            params: {
              addr: addr
            },

            headers: {
              apikey: getAPIKey().getKey()
            }
          }
        )
        .then(response => {
          this.datas = response.data // Get the datas
          this.putCategory(this.datas) // Put the category for fusioncharts
          this.putValues(this.datas) // Put the values for fusioncharts

          this.$refs.showLastDatas.show() // Show the modal
        })
        .catch(error => {
          // Alert on network error
          if (error.message === 'Network Error') alert(this.$t('errors.networkError'))

          // Alert the user if the API key is not correct
          if (error.response) {
            if (error.response.data.message === 'APIKey incorrect') alert(this.$t('errors.apikey'))
            if (error.response.data.message === 'addr incorrect') alert(this.$t('errors.wrongAddr'))
          }
        })
    },

    /**
    * Function used to put the parameter of the function in upper case
    * @param val => Value to put in upper case
    * @returns the value put in upper case
    */
    toUpperCase (val) {
      return String(val).toUpperCase()
    },

    /**
    * Function used to formate the date as we want
    * @param date => Date to format
    * @returns the date formated as we want
    */
    formateDate (date) {
      date = new Date(date) // Create a new date from the given one
      var day = (String(date.getDate()).length === 1) ? '0' + date.getDate() : date.getDate() // Get the date of the given one
      var month = (String(date.getMonth() + 1).length === 1) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1) // Get the month of the given date
      var year = date.getFullYear() // Get the year of the given date
      var hour = date.getHours() // Get the hours of the given date
      var minutes = (String(date.getMinutes()).length === 1) ? '0' + date.getMinutes() : date.getMinutes() // Get the minutes of the given date

      return day + '-' + month + '-' + year + ' ' + hour + ':' + minutes
    },

    /**
    * Function used to bold the next waking hour between all waking hours of a microcontroller
    * @param sleepTimes => All the sleep times of a microcontroller
    * @returns the formated string as we want (bold the next waking hour and not the other)
    */
    formateSleepTimes (sleepTimes) {
      var today = new Date() // Get today's date

      // Push all the date with the hours of the microcontrollers in an array
      var tabDate = []
      for (const sleepTime of sleepTimes) {
        var valuesSleepTime = sleepTime.split(':') // Split to get hours and minutes
        var date = new Date() // Date of today
        date.setHours(valuesSleepTime[0], valuesSleepTime[1], 0, 0) // Set h, m, s and ms with the good values

        // Add one day if the date is passed
        if (date.getTime() < today.getTime()) {
          date.setDate(date.getDate() + 1)
        }

        // Push the date into the array
        tabDate.push(new Date(date))
      }

      // Get the next sending of the microcontroller
      var nextSending = -1 // Index in the array of the next sending
      var lastTimeStamp = Infinity // Last time stamp we get => Set to infinity at the beginning
      for (const [index, val] of tabDate.entries()) {
        var actualDifference = val.getTime() - today.getTime() // Difference between the val into the array and now

        // Next sending => Smaller difference
        if (actualDifference < lastTimeStamp) {
          nextSending = index
          lastTimeStamp = actualDifference
        }
      }

      // Put all the values in an array to display after
      var arrayToReturn = []
      for (const [index, value] of tabDate.entries()) {
        if (index === nextSending) arrayToReturn.push('<strong>' + (value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()) + '</strong>')
        else arrayToReturn.push((value.getHours() < 10 ? '0' + value.getHours() : value.getHours()) + ':' + (value.getMinutes() < 10 ? '0' + value.getMinutes() : value.getMinutes()))
      }

      // Return the values of the array joined by a comma and a space to be responsive
      return arrayToReturn.join(', ')
    },

    /**
    * Function used to format the values got from the HTTP request
    *   in a good format to display them with fusioncharts
    * It is used to format the datas to dispay them in the pagination list too
    * @param datas => Datas to process
    */
    putValues (datas) {
      var ph = { seriesname: this.$t('activities.categoryPH'), data: [] } // PH for fusioncharts
      var humidity = { seriesname: this.$t('activities.categoryHumidity'), data: [] } // Humidity for fusioncharts
      var temperatures = { seriesname: this.$t('activities.categoryTemperature'), data: [] } // Temperature for fusioncharts
      var conductivity = { seriesname: this.$t('activities.categoryConductivity'), data: [] } // Conductivity for fusioncharts
      var nitrogen = { seriesname: this.$t('activities.categoryNitrogen'), data: [] } // Nitrogen for fusioncharts
      var phosphorus = { seriesname: this.$t('activities.categoryPhosphorus'), data: [] } // Phosphorus for fusioncharts
      var potassium = { seriesname: this.$t('activities.categoryPotassium'), data: [] } // Potassium for fusioncharts

      // Put each ph, humidity, temperature, conductivity, nitrogen, phosphorus and potassium in the seriesname associated + Push a formated string for pagination list
      for (const val of datas) {
        ph.data.push({ 'value': val.ph })
        humidity.data.push({ 'value': val.humidity })
        temperatures.data.push({ 'value': val.temperature })
        conductivity.data.push({ 'value': val.conductivity })
        nitrogen.data.push({ 'value': val.nitrogen })
        phosphorus.data.push({ 'value': val.phosphorus })
        potassium.data.push({ 'value': val.potassium })
      }

      this.chart.dataSource.dataset.push(ph) // Dataset to display for ph
      this.chart.dataSource.dataset.push(humidity) // Dataset to display for humidity
      this.chart.dataSource.dataset.push(temperatures) // Dataset to display for temperature
      this.chart.dataSource.dataset.push(conductivity) // Dataset to display for conductivity
      this.chart.dataSource.dataset.push(nitrogen) // Dataset to display for nitrogen
      this.chart.dataSource.dataset.push(phosphorus) // Dataset to display for phosphorus
      this.chart.dataSource.dataset.push(potassium) // Dataset to display for potassium
    },

    /**
    * Function used to put the category we can select on the graph
    * @param datas => Datas to process
    */
    putCategory (datas) {
      for (const val of datas) {
        this.chart.dataSource.categories[0].category.push({ 'label': this.formateDate(val.dateAdded) })
      }
    },

    /**
    * Function used to update the zoom on the map
    * @param zoom => Zoom of the map
    */
    zoomUpdated (zoom) {
      this.zoom = zoom
    },

    /**
    * Function used when we update the map
    * @param center => Center of the map
    */
    centerUpdated (center) {
      this.center = center
    },

    /**
    * Function to set the markers to display on the map
    */
    setMarkers () {
      for (const [index, microcontroller] of this.microcontrollers.entries()) {
        // If we have latitude and longitude => Add the markers to the map
        if (microcontroller.latitude !== undefined && microcontroller.longitude !== undefined) {
          this.markers.push({ id: index, coordinates: [microcontroller.latitude, microcontroller.longitude], addr: microcontroller.addr })
        }
      }
    }
  },

  components: { LMap, LTileLayer, LMarker, LIcon, LTooltip }
}
</script>

<style scoped>
@media only screen and (max-width: 510px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 511px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
  }
}
.rounded-perso-for-modal {
  border-radius: 2rem;
}
.rounded-pill-perso {
  border-radius: 2rem;
}
@media only screen and (max-width: 510px) {
  .bloc {
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 511px) {
  .bloc {
    margin-right: 20%;
    margin-left: 20%;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.card-header {
  font-size: 24px;
  font-weight: 500;
}
.map {
  width: 100%;
  height: 300px;
}
</style>
