<template>
  <div>
    <b-container style="margin-bottom: 20px">
      <b-row style="margin-bottom: 20px">
        <b-col>
          <h2>{{ $t('post.posts') }}</h2>
        </b-col>
      </b-row>

      <b-alert show variant="danger" class="rounded-perso" v-if="errored">
        <h4 class="alert-heading">{{ $t('errors.errorTitle') }}</h4>
        <p>
          {{ $t('errors.errorExplanationPart1') }}
        </p>
        <hr>
        <p class="mb-0">
          {{ $t('errors.errorExplanationPart2') }}
        </p>
      </b-alert>

      <b-alert show variant="warning" class="rounded-perso" v-if="posts.length === 0 && errored === false && loading === false">
        <h4 class="alert-heading">{{ $t('warning.warningTitle') }}</h4>
        <p>
          {{ $t('warning.warningExplanationPart1') }}
        </p>
        <hr>
        <p class="mb-0">
          {{ $t('warning.warningExplanationPart2') }}
        </p>
      </b-alert>

      <transition name="fade">
        <div class="bloc" v-if="loading === false && posts.length !== 0">
          <b-card class="rounded-perso-for-modal" v-bind:header="post.title" v-for='post in posts' :key=post._id style="overflow:hidden;margin-bottom:20px">
            <p>
              {{ $t('post.published1') }} {{ formateDate(post.dateAdded) }} {{ $t('post.published2') }} {{ post.addedBy }} <br/>
              <span v-if="post.dateAdded !== post.dateModification" class="text-muted" style="font-size: 14px">{{ $t('post.modified') }} {{ formateDate(post.dateModification) }}</span>
            </p>

            <p v-html="post.text" style="text-align:initial"></p>
          </b-card>
        </div>
      </transition>

    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import getInfosServer from '../config/getURLNode'
import getAPIKey from '../config/getAPIKey'

export default {
  name: 'Posts',

  data () {
    return {
      posts: [],
      errored: false,
      loading: true
    }
  },

  /**
  * Function used to be able to make the HTTP request to be able to get all the posts
  */
  mounted () {
    // HTTP request
    axios
      .get(getInfosServer().getURL() + getInfosServer().getPort() + '/api/posts/fromShowcase',
        {
          headers: {
            apikey: getAPIKey().getKey()
          }
        }
      )
      .then(response => {
        this.posts = response.data
      })
      .catch(error => {
        this.errored = true

        // Alert the user if the API key is not correct
        if (error.response) {
          if (error.response.data.message === 'APIKey incorrect') alert(this.$t('errors.apikey'))
        }
      })
      .finally(() => {
        this.loading = false
      })
  },

  methods: {
    /**
    * Function used to formate the date as we want
    * @param date => Date to format
    * @returns the date formated as we want
    */
    formateDate (date) {
      date = new Date(date) // Create a new date from the given one
      var day = (String(date.getDate()).length === 1) ? '0' + date.getDate() : date.getDate() // Get the date of the given one
      var month = (String(date.getMonth() + 1).length === 1) ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1) // Get the month of the given date
      var year = date.getFullYear() // Get the year of the given date
      var hour = date.getHours() // Get the hours of the given date
      var minutes = (String(date.getMinutes()).length === 1) ? '0' + date.getMinutes() : date.getMinutes() // Get the minutes of the given date

      return day + '-' + month + '-' + year + this.$t('post.atForHours') + hour + ':' + minutes
    }
  }
}
</script>

<style scoped>
@media only screen and (max-width: 510px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 511px) {
  .rounded-perso{
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
  }
}
.rounded-perso-for-modal {
  border-radius: 2rem;
}
@media only screen and (max-width: 768px) {
  .bloc {
    margin-right: 10%;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .bloc {
    margin-right: 15%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 901px) {
  .bloc {
    margin-right: 20%;
    margin-left: 20%;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.card-header {
  font-size: 24px;
  font-weight: 500;
}
</style>

<style>
/* Add some classes manually to make them works on the view because they don't work => Don't know why ... */
.ql-align-right {
  text-align: right !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-indent-1 {
  padding-left: 3em
}
.ql-indent-2 {
  padding-left: 6em
}
.ql-indent-3 {
  padding-left: 9em
}
.ql-indent-4 {
  padding-left: 12em
}
.ql-indent-5 {
  padding-left: 15em
}
.ql-indent-6 {
  padding-left: 18em
}
.ql-indent-7 {
  padding-left: 21em
}
.ql-indent-8 {
  padding-left: 24em
}
.ql-editor ul {
  padding-left: 1.5em
}
ul[data-checked=false]>li::before {
  content: '\2610';
  font-size: 1.35em;
}
ul[data-checked=true]>li::before {
  content: '\2611';
  font-size: 1.35em;
}
ul[data-checked=false]>li::before, ul[data-checked=true]>li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
ul[data-checked=false]>li, ul[data-checked=true]>li {
  list-style-type: none;
}
</style>
